<!--
   base_frame.html
   
   Copyright 2023 Jim Richardson <jim@phporyx.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	 <!--#include#-->
</head>

<body>
	<section class="section">
      <div class="row">
        <div class="col-lg-6" style="padding-top:1%;padding-left:2%;">
			<span id="level" style="display:none">admin</span>
			
          <div class="card "  "padding-top: 1%;">
              <h5 class="card-title" id="ctype" style="padding: 2% 0 0 2%;">Hardware</span></h5>    
             <div class="card-body table-wrapper" style="max-height:40vh;">
              	<table class="table">
					<tr><td>Uptime</td><td id="boot" class="bold"></td></tr>
					<tr class="dark-cpu "><td>CPU Load</td><td><span id="load-outer" class="bold" style="display:none;"><span id="load_1" class="bold"></span> (1 Min) <span id="load_10" class="bold"></span> (10 Mins) <span id="load_15" class="bold"></span> (15 Mins)</span></td></tr>
					<tr><td>IP Address(es)</td><td class="bold" id="ip"></td></tr>
					<tr><td style="width:32%;">CPU Model, Processors/Cores</td><td class="bold"><span id="model"></span>,&nbsp;<span  id="processors"></span></td></tr>
					<!--<tr><td>CPU Processors/Cores</td><td id="processors"></td></tr>-->
					<tr><td>CPU Speed</td><td class="bold" id="speed"></td></tr>
					<tr><td>CPU Cache</td><td class="bold" id = "cache"></td></tr>
				</table>
            </div>
          </div>

       



	<div class="card " >
		
			<h5 class="card-title" style="padding: 2% 0 0 2%;" >Software</h5>
			<div class="card-body table-wrapper" style="max-height:40vh;">
			<table class="table">
				<tr><td style="width:20%;">Host Name</td><td id="host"></td></tr>
				<tr><td>Server OS</td><td id="os"></td></tr>
				<tr><td>Reboot Required</td><td id="reboot" class="bold"></td></tr>
				<tr><td>Kernel Version</td><td id="k_ver"></td></tr>
				<tr><td>Processes</td><td id="process"></td></tr>
				<tr><td>PHP Version</td><td id="php"></td></tr>
				<tr><td>Screen Version</td><td id="screen"></td></tr>
				<tr><td>Tmux Version</td><td id="tmux"></td></tr>
				<tr><td>GlibC Version</td><td id="glibc"></td></tr>
				<tr><td>MySql Version</td><td id="mysql"></td></tr>
				<tr><td>Apache Version</td><td id="apache"></td></tr>
				<tr><td>Curl Version</td><td id="curl"></td></tr>
				<!--<tr><td>NginX Version</td><td><!--#nginx#-></td></tr>-->
				<tr><td>Quota Version</td><td id="quotav"></td></tr>
				<tr><td>Postfix Version</td><td id="postfix"></td></tr>
				<tr><td>Git Version</td><td id="git"></td></tr>
			</table>
		</div>
	</div>
	
</div>	

<div class="col-lg-6" style="padding-top:1%;padding-right:2%;">
	<div class="card " >
	<div class="card-body">
		<h5 class="card-title" style="padding: 2% 0 0 2%;">Disk</h5>
		<table class="table">
			<tbody id="root" class="hidden" style="border-top:0px;">
				<tr style="display:none;"><td style="width:31%;"><b>Root File System</b></td><td id="root-fs"></td></tr>
				<tr style="display:none;"><td>Root Mount Point</td><td id="boot_mount"></td></tr>
				<tr>
					<td class="middle" style="width:20%;">Disk Use</td>
					<td class="middle" style="padding:1%;">
						<div id="root-progress" class="progress" style="height:2rem;">
							<div id= "root-use" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="root-pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
							</div>
						</div>
					</td>
				</tr>
				<!--<tr><td>Disk Size</td><td id="boot_size"></td></tr>
				<tr><td>Disk Used</td><td id="boot_used"></td></tr>
				<tr><td>Disk Free</td><td id="boot_free"></td></tr>-->
			</tbody>
			<tbody id="user" style="border-top: 0px;">
				<tr style="display:none;" id="u_fs"><td><b>Home File System</b></td><td id="home-fs"></td></tr>
				<tr style="display:none;"><td style="width:31%;">Home Folder</td><td id="u_mount"></td></tr>
				<tr>
					<td class="middle" style="width:20%;">User Allocation</td>
					<td class="middle" style="padding:1%;">
						<div id="quota-progress" class="progress" style="height:2rem;">
							<div id= "quota-use" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="quota-pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
							</div>
						</div>
					</td>
				</tr>
				<!--<tr><td>Quota Size</td><td id="u_size"></td></tr>
				<tr><td>Quota Used</td><td id="u_used"></td></tr>
				<tr><td>Quota Free</td><td id="u_free"></td></tr>-->
			</tbody>   
		</table>
     </div>
</div>
	<div class="card ">
	<div class="card-body">
		<h5 class="card-title" style="padding: 2% 0 0 2%;">Memory</h5>
		<table class="table">
			<tr style="display:none;"><th style="width:20%;"></th><th style="width:20%;">Total</th><th style="width:20%;">Free</th><th style="width:20%;">Cached</th style="width:20%;"><th>Active</th></tr>
			<tr style="display:none;">
				<td style="width:20%;">Memory</td>
				<td id="memtotal"></td>
				<td id="memfree"></td>
				<td  id ="memcached"></td>
				<td  id ="memactive"></td>
			</tr>
			<tr>
				<td class="middle" style="width:20%;">Available Memory</td>
				<td style="padding:1%;" colspan=4>
					<div id="mem-progress" class="progress" style="height:2rem;">
						<div   id ="s-mem" class="progress-bar middle" role="progressbar"  aria-valuenow="" aria-valuemin="0" aria-valuemax="">
							<div id="mem-pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
						</div>
				</td>
			</tr>    
			<tr>
				<td style="width:20%;vertical-align:middle;">Used Swap</td>
				<td style="padding:1%;" colspan=4>
					<div id="swap-progress" class="progress" style="height:2rem;">
						<div   id ="swap" class="progress-bar middle" role="progressbar"  aria-valuenow="" aria-valuemin="0" aria-valuemax="">
							<div id="swap_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
						</div>
				</td>
			</tr>    
		</table>
	</div>
	</div>

	<div class="card " >
		<div class="card-body">
			<h5 class="card-title" style="padding: 2% 0 0 2%;">Game Server Statistics</h5>
			<table class="table">
				<tr>
					<td class="middle" style="width:20%;">Online Servers</td>
					<td  style="padding:1%;">
						<div class="progress" style="height:2rem;">
							<div id="gs_pb" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="gs_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
							</div>
					</td>
				</tr>
				<tr>
					<td class="middle" style="width:20%;">Disk Space Used</td>
					<td style="padding:1%;">
						<div class="progress" style="height:2rem;">
							<div   id ="ud_pb" class="progress-bar" role="progressbar"  aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="ud_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
						</div>
					</td>
				</tr>    
				<tr>
					<td class="middle" style="width:20%;">Memory Load</td>
					<td style="padding:1%;">
						<div id="" class="progress" style="height:2rem;">
							<div id= "mem_pb" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="mem_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="middle" style="width:20%;">CPU Load</td>
					<td style="padding:1%;">
						<div class="progress" style="height:2rem;width:100%;">
							<div id="cpu_pb" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="cpu_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="middle" style="width:20%;">Slots Used</td>
					<td style="padding:1%;">
						<div class="progress" style="height:2rem;width:100%;">
							<div id="op_pb" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
								<div id="op_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"></div> 
							</div>
						</div>
					</td>
				</tr>            
			</table>
		</div>
	</div>
</div>
      </div>
    </section>
</body>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src = "js/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src = "assets/js/main.js"></script>
	<script src = "js/baseserver.js"></script>
	<script>
		//console.log("in frame base frame "+history.length);
		//console.log( "#id#");
		base_servers("#id#");
		setInterval( function() { base_servers("#id#"); },5000);
		//$("#list-bans").click(function(){
			//$("#ban_history").show();
		//}); 
		
	</script>
</html>
