<head>
	 <!--#include#-->
</head>
<body class="card">
	<div id="editor" class="col-lg-12 card" style="padding:1%;">
		<div id="user-id" style="display:none;"><!--#id#--></div>
		<form id="sendcmd" style="display:none;" action="<!--#url#-->/search.php" method="get">
			<div class="input-group">
				<input class="form-control"name="text" type="text" id="text" size="70" placeholder="Player name, steam id or IP">
				<input type="hidden" id="action" name="action" value="search">
				<label for="send" class="btn btn-info">Search<i class="bx bxs-send"></i></label>	   
						<input class="hidden" type="submit" value="send" id="send">
					</div>	
					<div class="form-check" style="padding-left:6%;padding-top:1em;">
					 <input class="form-check-input" type="radio" name="type" id="gridRadios3" value="fuzzy" checked>
                      <label class="form-check-label" for="gridRadios3"  style="padding-right:6%;">Name</label>
					<input class="form-check-input" type="radio" name="type" id="gridRadios1" value="id">
                      <label class="form-check-label" for="gridRadios1"  style="padding-right:6%;">Steam ID</label>
                     
                      <input class="form-check-input" type="radio" name="type" id="gridRadios4" value="ip">
                      <label class="form-check-label" for="gridRadios4">IP</label>
                    </div>
				</form>
		
		<div> 
			<div style="position:relative;margin-left:93%; display:none;">
				<div class="playerAvatar profile_header_size offline" data-miniprofile="168311066">
					<div class="playerAvatarAutoSizeInner">
						<div class="profile_avatar_frame">
							<a id = "steam-link" href="#" title = "View On Steam">
								<img  id ="user-frame" style="width:109px;display:none;" src="img/blank.png">
							</a>	
						</div>
						<img id="user-avatar" style="width:80px;position:absolute;left:-8px;top:-4px;" src="img/blank.png">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h5>General Details</h5>
				<table id="dta" class="table"><thead><tr><th style="width: 25%;">&nbsp;</th><th></th></tr></thead><tbody id="gen"></tbody></table>
			</div>
			<div class="col-lg-6">
				<h5>Server History</h5>
				<table id="dta1" class="table">
					<thead>
						<tr style="padding-bottom:6px;">
							<th>Server</th>
							<th style="text-align:left;">Log ons</th>
							<th style="text-align:left;">Last Log on</th>
							<th style="text-align:left;">Time On Line</th>
						</tr>
					</thead>	
					<tbody id="gd1"></tbody>
				</table>
			</div>
			<div class="modal-footer "style="display:inline-block">
					<button id="ban" type="button" class="btn btn-danger" onclick="shutdiv('ban-user','ban_history');"><i class="fa-solid fa-user-slash"></i> Ban</button>
					<button id="list-bans" style="display:none;" type="button" class="btn btn-warning" onclick="shutdiv('ban_history','ban-user');"><i class="fa-solid fa-file-waveform"></i> Ban History</button>
					<button  type="button" class="btn btn-success" id="go_back"><i class="fa-regular fa-hand-point-left"></i> Go Back</button><!--onclick="parent.closeIFrame();"-->
				</div>
		</div>
	</div>
	<div class="frame-popup" id="ban_history"  style="top:15vh; width:80%;">
                <div class="">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ban History</span></h5>
                      <button type="button" class="btn-close"  aria-label="Close" onclick="$('#ban_history').hide()"></button>
                    </div>
                    <div class="modal-body">
						<table id="ban-history" class="table">
							<th class="table-header">Steam ID</th>
							<th>User Name</th>
							<th>IP address</th>
							<th>Reason</th>
							<th>Start</th>
							<th>Finish</th>
							<tbody id="ban-body"></tbody>
						</table>
				</div>
			 <div class="modal-footer" style="display:inline-block">
                      <button class="btn btn-secondary" onclick="$('#ban_history').hide()">Close</button>
             </div>
                  </div>
                 </div>
                 </div>
                 <div class="frame-popup" id="ban-user"   style="width:50vw;top:15vh;">
                <!--<div class="">-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ban <span id="un-b"></span></h5>
                      <button type="button" class="btn-close" aria-label="Close" onclick="$('#ban-user').hide()"></button>
                    </div>
                    <div class="modal-body" >
						<div style="width:100%;">
							<div class="no-border" style="text-align:center;padding-bottom:2%;"><span class="card-title">Select Ban Types</span><span style="float:right;font-weight:400;">Select All <input  name="check all" type="checkbox" id="check-all" value=""></span></div>
							<form id="banuser" action="plugins/sb_bans.php" method="get">
								<table class="table">
									<thead>
										
										
									</thead>
									<tbody>
										<tr><td>System Ban User</td><td><input  name="sys_ban_user" type="checkbox" id="sys-ban" value="false"></td></tr>
										<tr><td>System Ban IP</td><td><input  name="sys_ban_ip" type="checkbox" id="sys-ban-ip" value="false"></td></tr>
										<tr id="sb-ban-tr" style="display:none;"><td>Source Ban User</td><td><input  name="sb_ban" type="checkbox" id="sb-ban" value="false"></td></tr>
										<tr id="sb-mute-tr" style="display:none;"><td>Source Ban Mute</td><td><input type="checkbox" id="sb-mute" name="sb_mute" value="false"></td></tr>
										<tr><td style="vertical-align:middle;">Ban Reason</td><td><input  name="ban_reason" type="text" id="ban-reason" ></td></tr>
										<tr><td style="vertical-align:middle;">Ban Length</td><td><input type="number" id="quantity" name="quantity" min="0" max="43200" value="0" title="use minutes  max 43200 (0 for permanent ban)">&nbsp;<span id="ban-length">Ban Length permanent</span></td></tr>
										<tr><td id="auto-kick">Auto Kick is enabled</td><td></td></tr>
										<tr><td colspan=2 style="text-align:center;"><button class="btn btn-danger"><i class="fa-solid fa-user-slash"></i> Ban User</button></td></tr>
									</tbody>
								</table>
								 <input type="hidden" name="steam_id" id = "ban-steam-id"/> 
								 <input type="hidden" name="steam_user" id = "ban-user-id"/> 
								 
							</form>
							
						<!--</div>
					
			 <!--<div class="modal-footer">
                      <button class="btn btn-secondary" onclick="$('#ban-user').hide()">Close</button>
             </div>
                  </div>
                 </div>
                 </div>                                                 
	<!--  JS Files -->
     <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src = "js/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src = "assets/js/main.js"></script>
	<script src = "js/users.js"></script>
	<script src = "js/bans.js?random=<?php echo uniqid(); ?>"></script>
	<script>
		console.log("in frame "+history.length);
		console.log( document.referrer);
		//$("#list-bans").click(function(){
			//$("#ban_history").show();
		//}); 
		
	</script>
</body>	