<div class="modal fade" id="alert" tabindex="-1" aria-hidden="true" style="display: none; ">
	<div class="modal-dialog modal-dialog-centered" >
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="alert-title" class="card-title" style="padding:0"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="alert-message" style="text-align:center;padding:2%;"></div>
			<div class="modal-footer" style="display:block;text-align:center">
	                      <button class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        	     </div>

		</div>
             </div>
	</div>
</div>  
