 <div class="col-xxl-4 col-md-6" >
	<div class="card info-card revenue-card">
		<div class="filter" style ="top:14%;">
			<a class="icon" href="#" data-bs-toggle="dropdown"><span><img style="height:32px;" src="<!--#flag#-->" /></span></a>
			<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" >
				<!--<li><a class="dropdown-item" href="<!--#game_link#">Join Game</a></li>-->
				<li><a class="dropdown-item" href="<!--#detail_link#-->">Details</a></li>
				<li><a class="dropdown-item" href="users.php">Search All</a></li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title" style="margin-top:3%;"><!--#name#--></h5>
			<table class="table table-sml no-border">
				<tr  class="no-border" style="vertical-align: middle;"><td style="width:25%;">Players</td><td class="map-title" id=""><!--#players#--></td></tr>
				<tr class="no-border"><td>Players Today</td><td class="map-title"><!--#players_today#--></td></tr>
				<tr class="no-border"><td>Player %</td><td class="map-title" id=""><!--#percent#--></td></tr>
				<tr class="no-border"><td>Logons </td><td class="map-title" id=""><!--#logins#--></td></tr>
			</table>	
		</div>
	</div>
 </div>