<tr id="<!--#row_id#-->">
	<td id="row_<!--#row_id#-->" title="<!--#title#-->"><img src="<!--#flag#-->" style="height:18px; margin-top:-2px;"></td>
	<td id="<!--#country#-->_id"><!--#country#--></td>
	<td id="<!--#country#-->_players"><!--#players#--></td>
	<td id="<!--#country#-->_logins"><!--#logins#--></td>
	<td id ="<!--#country#-->_ppercent"><!--#p_percent#--></td> 
	<td id="<!--#country#-->_percent"><!--#percent#--></td> 
	<td style="text-align:right;padding-right:16%;" id="<!--#country#-->_today"><!--#cplayers#--></td>
	<!--<td></td>
	 <td>
		<div class="progress thin">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%"></div>
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%"></div>
		</div>
		<span class="sr-only">73%</span>
	</td> -->
</tr>
                   
