 <footer id="footer" class="footer">
	 <p style="clear:left;text-align:center;display:none;">

 				<a href="https://noideersoftware.co.uk/home" class="btn btn-success" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" data-original-title="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
				
				<a href="https://noideersoftware.co.uk/archive/index.php" class="btn btn-danger" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" data-original-title="Lite (Archive) Mode"><i class="fa fa-archive" aria-hidden="true"></i></a>
				
				<a href="https://steamcommunity.com/groups/NoIdeer" target="_blank" rel="noopener" class="btn btn-primary" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" data-original-title="Steam Group"><i class="fab fa-steam" aria-hidden="true"></i></a>
				
				<a href="https://discord.gg/3K2VXvU" target="_blank" rel="noopener" class="btn btn-info" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" data-original-title="Discord"><i class="fab fa-discord" aria-hidden="true"></i></a>
				
				<a href="https://noideersoftware.co.uk/misc.php?action=syndication" class="btn btn-warning" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS Syndication"><i class="fa fa-rss" aria-hidden="true"></i></a>
				<a href="showteam.php" class="btn btn-danger" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Meet Our Team"><i class="fa fa-users" aria-hidden="true"></i> </a>
				<a href="misc.php?action=markread&amp;my_post_key=d4e8be99348c46ea65153fb1e177bb32" class="btn btn-warning" style="color: #fff;" data-toggle="tooltip" data-placement="bottom" data-original-title="Mark Forums Read"><i class="fa fa-book" aria-hidden="true"></i></a><br><br>
				
				
				</p>
    <div class="copyright" style="padding:1%;">
      &copy; <strong><span>PhPOryX</span></strong> <!--#year#-->. All Rights Reserved
      <!--<br>-->
    </div>
   <!-- <div class="credits">
       Help From <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div> -->
  </footer>
