 <header id="header" class="header fixed-top d-flex align-items-center">
	<div class="d-flex align-items-center justify-content-between">
		<i id="side-bar" style="padding-right:10px;" class="bi bi-list toggle-sidebar-btn"></i>
		<a href="index.php" class="logo d-flex align-items-center" title="Goto Dashboard"><img src="img/logo.png" alt=""><span class="d-none d-lg-block">PHPgsm</span></a>
	</div><!-- End Logo -->
	<div  class="header-nav ms-auto logo" >
		<div id ="clock"  class="clock"></div>
		<div class="clock">
			<a class="" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" style="">
				<li class="dropdown-header">You have No new notifications<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2" style="font-size:14px;color:#ffffff;">View all</span></a></li>
				<li class="notification-item hidden">
					<i class="bi bi-exclamation-circle text-warning"></i>
					<div>
						<h4>Lorem Ipsum</h4>
						<p>Quae dolorem earum veritatis oditseno</p>
						<p>30 min. ago</p>
					</div>
				</li>
				<li class="notification-item hidden">
					<i class="bi bi-x-circle text-danger"></i>
					<div>
						<h4>Atque rerum nesciunt</h4>
						<p>Quae dolorem earum veritatis oditseno</p>
						<p>1 hr. ago</p>
					</div>
				</li>
				<li class="notification-item hidden">
					<i class="bi bi-check-circle text-success"></i>
					<div>
						<h4>Sit rerum fuga</h4>
						<p>Quae dolorem earum veritatis oditseno</p>
						<p>2 hrs. ago</p>
					</div>
				</li>
				<li class="notification-item hidden">
					<i class="bi bi-info-circle text-primary"></i>
					<div>
						<h4>Dicta reprehenderit</h4>
						<p>Quae dolorem earum veritatis oditseno</p>
						<p>4 hrs. ago</p>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- End Icons Navigation -->
</header><!-- End Header -->
