 <header id="header" class="header fixed-top d-flex align-items-center">
	
    <div class="d-flex align-items-center justify-content-between">
		<i style="padding-right:10px;" class="bi bi-list toggle-sidebar-btn"></i>
      <a href="index.php" class="logo d-flex align-items-center">
        <img src="img/logo.png" alt="">
        <span class="d-none d-lg-block">PHPgsm</span>
      </a>
      
    </div><!-- End Logo -->

       <div class="header-nav ms-auto logo">
		<!--<div class="logo" style="width:100%;"> -->
			<span id ="clock"  class="clock"></span>
		<!--</div>-->
     
    </div><!-- End Icons Navigation -->

  </header><!-- End Header -->
