  <!-- Vendor CSS Files -->

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">

  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">

  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <script src="https://kit.fontawesome.com/08a3755b76.js" crossorigin="anonymous"></script>	

  <!-- Template Main CSS File -->

  <link href="assets/css/style.css" rel="stylesheet">

