 <div class="col-md-4" >
	<div class="card info-card revenue-card">
		<div class="filter" style ="top:3%;">
			<a class="icon" href="#" data-bs-toggle="dropdown"><span><img style="height:6vh;" src="" id ="<!--#uid#-->-avatar1" /></span></a>
			<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" >
				<!--<li><a class="dropdown-item" href="<!--#game_link#">Join Game</a></li>-->
				<li><a class="dropdown-item" id="<!--#uid#-->-link" href="<!--#detail_link#-->">Details</a></li>
				<li><a class="dropdown-item" href="users.php">Search All</a></li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title" style="margin-top:3%;" id="<!--#uid#-->-name"><!--#name#--></h5>
			<table class="table table-sml no-border">
				<tr  class="no-border" style="vertical-align: middle;"><td style="width:25%;">Country</td><td class="map-title" id="<!--#uid#-->-map"><!--#map#--></td></tr>
				<tr class="no-border"><td>Joined</td><td class="map-title"  id="<!--#uid#-->-joined"><!--#joined#--></td></tr>
				<tr class="no-border"><td>Last Login</td><td class="map-title" id="<!--#uid#-->-login"><!--#login#--></td></tr>
				<tr class="no-border"><td>Logons </td><td class="map-title" id="<!--#uid#-->-logins"><!--#logins#--></td></tr>
			</table>	
		</div>
	</div>
 </div>