 <!-- server card -->
 <div class="col-md-4" id="<!--#id#-->" style="display:none;">
 
	<div class="card info-card revenue-card">
		
		<div class="card-body">
			<div class="filter" style ="top:3%;">
			<a class="icon" href="#" data-bs-toggle="dropdown"><span><img style="height:5vh;" src="" id="img<!--#id#-->" /></span></a>
			<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" >
				<li><a class="dropdown-item" style="cursor:pointer;"  onClick="window.location.href='<!--#console_link#-->'">Console</a></li>
				<li><a class="dropdown-item" style="cursor:pointer;"  onClick="window.location.href='<!--#game_link#-->'">Join Game</a></li>
				<li><a class="dropdown-item" style="cursor:pointer;"  onClick="window.location.href='<!--#detail_link#-->'">Details</a></li>
				<li><a class="dropdown-item" href="<!--#setting_link#-->">Settings</a></li>
			</ul>
			<div class="card-title" style=" margin-top: -3%; display: inline-block;" id="<!--#id#-->-name"><!--#server_name#--></div>
		</div>
			
			<div class="secret" style="margin-top:-5%;" id="<!--#id#-->-secret">
			<div class="table-wrapper sml">
				<table class="table">
					<thead>
						<th>Player</th><th style="text-align:right;">score</th><th style="text-align:right;">Time on line</th>
					</thead>	
					<tbody id ="<!--#id#-->-playerbody"></tbody>
				</table>
			</div>	
			</div>
			<div>
			<table class="table table-sml no-border"  id="x-<!--#id#-->">
				<tr  class="no-border"><td>Map</td><td class="map-title" id="cmap<!--#id#-->"></td><td>Started</td><td class="map-title" id="gdate<!--#id#-->"></td></tr>
				<tr class="no-border"><td>Today</td><td class="map-title" id="pt<!--#id#-->"></td><td>Players</td><td class="map-title" style="padding-left:1%;"><span id="gol<!--#id#-->"></span></td></tr>
				<tr class="no-border"><td>Time Online</td><td class="map-title" id="time-online#id#"></td><td>Bans</td><td class="map-title" id="sys_ban<!--#id#-->"><!--#system_bans#--></td></tr>
			</table>
			</div>	
		</div>
	</div>
 </div>
