 <!-- server card -->
 <div class="col-xxl-4 col-md-12" id="<!--#id#-->" style="display:none;">
 
	<div class="card info-card revenue-card">
		<div class="filter" style ="top:14%;">
			<a class="icon" href="#" data-bs-toggle="dropdown"><span><img style="height:50px;" src="<!--#logo#-->" /></span></a>
			<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" >
				<li><a class="dropdown-item" style="cursor:pointer;"  onClick="window.location.href='<!--#console_link#-->'">Console</a></li>
				<li><a class="dropdown-item" style="cursor:pointer;"  onClick="window.location.href='<!--#game_link#-->'">Join Game</a></li>
				<li><a class="dropdown-item" style="cursor:pointer;"  onClick="window.location.href='<!--#detail_link#-->'">Details</a></li>
				<li><a class="dropdown-item" href="#">Settings</a></li>
			</ul>
		</div>
		<div class="card-body">
			
			<h5 class="card-title" style="margin-top:3%;" id="<!--#id#-->-name"><!--#server_name#--></h5>
			<div class="secret" id="<!--#id#-->-secret">
			<div class="table-wrapper sml">
				<table class="table">
					<thead>
						<th>Player</th><th style="text-align:right;">score</th><th style="text-align:right;">Time on line</th>
					</thead>	
					<tbody id ="<!--#id#-->-playerbody"></tbody>
				</table>
			</div>	
			</div>
			<table class="table table-sml no-border"  id="x-<!--#id#-->">
				<tr  class="no-border"><td>Current Map</td><td class="map-title" id="cmap<!--#id#-->"></td></tr>
				<tr class="no-border"><td>Players Online</td><td class="map-title" style="padding-left:1%;"><span id="gol<!--#id#-->"></span></td></tr>
				
				<tr class="no-border"><td>Players Today</td><td class="map-title" id="pt<!--#id#-->"></td></tr>
				<tr class="no-border"><td>Started</td><td class="map-title" id="gdate<!--#id#-->"></td></tr>
				<tr class="no-border"><td>System Bans</td><td class="map-title" id="sys_ban<!--#id#-->"><!--#system_bans#--></td></tr>
			</table>	
		</div>
	</div>
 </div>
