	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item">
				<a class="nav-link collapsed" id="dashboard" href="index.php">
					<i class="bi bi-grid"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="nav-heading"><i class="bi bi-hdd-rack"></i> Servers</li>
			<li class="nav-item">
				<a class="nav-link collapsed" id="baseservers" data-bs-target="#baseservers-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-server"></i><span>API Servers</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="baseservers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<!--#bmenu#-->           
				</ul>
			</li>      
			<li class="nav-item">
				<a class="nav-link collapsed" id="gameservers" data-bs-target="#gameservers-nav" data-bs-toggle="collapse" href="#">
					<i class="bx bxl-steam"></i><span>Game Servers</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="gameservers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<!--#smenu#-->
				</ul>
			</li>	
			<li class="nav-heading"><i class="bi bi-tools"></i> Tools</li> 
			<!--<li class="nav-item">
				<a class="nav-link collapsed" id="backup" href="#">
					<i class="far fa-hdd"></i>
					<span>Backup</span>
				</a>
			</li>-->
			<li class="nav-item">
				<a class="nav-link collapsed" id="console" href="console.php">
					<i class="bx bxs-terminal"></i>
					<span>Console</span>
				</a>
			</li> 
			<!--<li class="nav-item">
				<a class="nav-link collapsed" id="cron-jobs" href="#">
					<i class="fas fa-robot"></i>
					<span>Cron Jobs</span>
				</a>
			</li>-->
			<!--<li class="nav-item">
				<a class="nav-link collapsed" id="notifcations" href="#">
					<i class="bx bxs-notification"></i>
					<span>Notifications</span>
				</a>
			</li>-->
			<li class="nav-item">
				<a class="nav-link collapsed" id="users" href="users.php">
					<i class="fa-solid fa-user-shield"></i>
					<span>Players</span>
				</a>
			</li>
                        <li class="nav-item">
                                <a class="nav-link collapsed" id="stats" href="stats.php">
                                        <i class="fa-solid fa-chart-simple"></i>
                                        <span>Statistics</span>
                                </a>
                        </li>
			
			<li class="nav-item">
				<a class="nav-link collapsed"  id="updates" href="updates.php">
					<i class="fas fa-download"></i>
					<span>Updates</span>
				</a>
			</li>  
		</ul>
		<hr>
		<div class="form-check form-switch">
			<ul class="sidebar-nav">
				<li class="nav-item">
			<a class="nav-link collapsed" id="themeswitch" style="cursor:pointer;"><i class="fa fa-fw fa-sun"></i> Switch Mode</a>
			</li>
			<li class="nav-item">
					<a class="nav-link collapsed" href="logout.php"><i class="fa fa-fw fa-sign-out-alt text-danger"></i>Log Out</a> 
			</li>
			<li>
				<a class= "nav-link collapsed" id="switch" style="cursor:pointer;"><i class="fa-solid fa-brush"></i> Switch Theme</a>
			</li>
			</ul>
		</div>
	</aside>
