  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
		<li class="nav-item">
        <a class="nav-link " href="index.php">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-heading">Servers</li>
		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-server"></i><span>API Servers</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<!--#bmenu#-->           
			</ul>
		</li>      
			
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bx bxl-steam"></i><span>Game Servers</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<!--#smenu#-->
				</ul>
         	</li>	

		<li class="nav-heading"><i class="bi bi-tools"></i> Tools</li> 
	<li class="nav-item">
			<a class="nav-link collapsed" href="#">
				<i class="far fa-hdd"></i>
				<span>Backup</span>
			</a>
        </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="quick_console.php">
          <i class="bx bxs-terminal"></i>
          <span>Console</span>
        </a>
      </li><!-- End Profile Page Nav --> 
	<li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="fas fa-robot"></i>
          <span>Cron Jobs</span>
        </a>
   </li><!-- End Charts Nav -->
		<li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bx bxs-notification"></i>
          <span>Notifications</span>
        </a>
      </li><!-- End Profile Page Nav -->
        <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="ri-arrow-up-down-line"></i>
          <span>Updates</span>
        </a>
     </li>  
    </ul>
    <hr>
    <div class="form-check form-switch">
                      <input style="margin-left: -21px;"  class="form-check-input" type="checkbox" id="themeswitch">
                      <label class="form-check-label"  style="padding-left:10%;" for="themeswitch">Toggle Theme</label>
                    </div>
  </aside>
