.map-response {
    margin-top: 30vh;
    position: fixed;
    z-index: 1000;
    border: 1px solid red;
    padding: 0.4%;
    margin-left: 20vw;
    background-color: green;
    display:none;	
}
.playerAvatar .profile_avatar_frame {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	 pointer-events: none;
	 top:-18px;left:-22px;
 }
.playerAvatar.profile_header_size .playerAvatarAutoSizeInner {
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
}
.playerAvatar.profile_header_size .playerAvatarAutoSizeInner {
	 position: absolute;
	 top: 2px;
	 right: 2px;
	 bottom: 2px;
	 left: 2px;
 }
.playerAvatar.profile_header_size {
	 position: relative;
	 height: 65px;
 }

.col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.no-border td {
    border-top: 0 !important ;
}	
