<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><!--#title#--></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/08a3755b76.js" crossorigin="anonymous"></script>	
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <span id = "level" class="hidden"><!--#level#--></span>
  <!--#header#-->
  <!-- End Header -->

  <!--#sidebar#-->
 <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>API Server Information</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.php">Home</a></li>
          <li class="breadcrumb-item">API Servers</li>
          <li class="breadcrumb-item active"><!--#bserver#--></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Hardware</h5>
              	<table class="table">
                        <tr><td>Uptime</td><td id="boot"><!--#boot_time#--></td></tr>
						<tr><td style="width:32%;">CPU Model</td><td id="model"><!--#model_name#--></td></tr>
						<tr><td>CPU Processors</td><td id="processors"><!--#processors#--></td></tr>
						<tr><td>CPU Cores</td><td id="cores"><!--#cpu_cores#--></td></tr>
						<tr><td>CPU Speed</td><td id="speed"><!--#cpu_MHz#--></td></tr>
						<tr><td>CPU Load</td><td id="load"><!--#load#--></td></tr>
						<tr><td>CPU Cache</td><td id = "cache"><!--#cache_size#--></td></tr>
						<tr><td>IP Address(es)</td><td id="ip"><!--#ips#--></td></tr>
						<tr><td>Reboot Required</td><td id="reboot"class="<!--#rebooot#-->"><!--#reboot#--></td></tr>
		 </table>
            </div>
          </div>

       
<div class="card">
            <div class="card-body">
              <h5 class="card-title">Disk</h5>
                <table class="table">
						<tbody id="root" class="hidden" style="border-top:0px;">
                        <tr><td style="width:31%;">File System</td><td><!--#root_filesystem#--></td></tr>
                        <tr><td>Mount Point</td><td id="boot_mount"><!--#root_mount#--></td></tr>
                        <tr><td>Disk Size</td><td id="boot_size"><!--#root_size#--></td></tr>
                        <tr><td>Disk Used</td><td id="boot_used"><!--#root_used#--> (<!--#root_pc#-->)</td></tr>
                        <tr><td>Disk Free</td><td id="boot_free"><!--#root_free#--></td></tr>
                        </tbody>
                <!--</table>
                 <table id="user" class="table hidden">-->
					<tbody id="user" style="border-top: 0px;">
                        <tr id="u_fs"><td>Home File System</td><td><!--#home_filesystem#--></td></tr>
                        <tr><td style="width:31%;">Home Folder</td><td id="u_mount"></td></tr>
                        <tr><td>Quota Size</td><td id="u_size"></td></tr>
                        <tr><td>Quota Used</td><td id="u_used"></td></tr>
                        <tr><td>Quota Free</td><td id="u_free"></td></tr>
                     </tbody>   
                </table>
            </div>
          </div>
<div class="card">
            <div class="card-body">
              <h5 class="card-title">Memory</h5>
                <table class="table">
			<tr><th></th><th>Total</th><th>Free</th><th>Cached</th><th>Active</th></tr>
                        <tr>
							<td style="width:20%;">Memory</td>
							<td id="memtotal" style="width:22%;"><!--#MemTotal#--></td>
							<td id="memfree" style="width:23%;"><!--#MemFree#--></td>
							<td  id ="memcached" style="width:23%;"><!--#Cached#--></td>
							<td  id ="memactive" style="width:23%;"><!--#MemAvailable#--></td>
						</tr>
						 <tr>
							<td style="width:20%;">Swap</td>
							<td style="width:22%;"><!--#SwapTotal#--></td>
							<td style="width:23%;"><!--#SwapFree#--></td>
							<td  style="width:23%;"></td>
							<td  style="width:23%;"></td>
						</tr>
                        <!--<tr><td style="width:25%;">Mount Point</td><td><!--#root_mount#</td></tr>
                        <tr><td style="width:25%;">Disk Size</td><td><!--#root_size#></td></tr>
                        <tr><td style="width:25%;">Disk Used</td><td><!--#root_used# (<!--#root_pc#)</td></tr>
                        <tr><td style="width:25%;">Disk Free</td><td><!--#root_free#</td></tr> -->
                </table>
            </div>
          </div>

	</div>

        <div class="col-lg-6">
	<div class="card">
            <div class="card-body">
              <h5 class="card-title">Software</h5>
                <table class="table">
                        <tr><td style="width:20%;">Host Name</td><td><!--#host#--></td></tr>
                        <tr><td>Server OS</td><td><!--#os#--></td></tr>
                        <tr><td>Kernel Version</td><td><!--#k_ver#--></td></tr>
                        <tr><td>Processes</td><td><!--#process#--></td></tr>
                        <tr><td>PHP Version</td><td><!--#php#--></td></tr>
                        <tr><td>Screen Version</td><td><!--#screen#--></td></tr>
                        <!--<tr><td>Tmux Version</td><td><!--#tmux#-></td></tr>-->
                        <tr><td>GlibC Version</td><td><!--#glibc#--></td></tr>
                        <tr><td>MySql Version</td><td><!--#mysql#--></td></tr>
                        <tr><td>Apache Version</td><td><!--#apache#--></td></tr>
                        <tr><td>Curl Version</td><td><!--#curl#--></td></tr>
                        <!--<tr><td>NginX Version</td><td><!--#nginx#-></td></tr>-->
                        <tr><td>Quota Version</td><td><!--#quotav#--></td></tr>
                        <tr><td>Postfix Version</td><td><!--#postfix#--></td></tr>
                        <tr><td>Git Version</td><td><!--#git#--></td></tr>
                </table>
            </div>
          </div>


          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Game Server Statistics</h5>
              <table class="table">
                        <tr>
							<td style="width:20%;">Online Servers</td>
							<td  style="padding:1%;">
								<div class="progress" style="height:2rem;">
									<div id="gs_pb" class="progress-bar" role="progressbar" style="width: <!--#g_pc#-->%" aria-valuenow="<!--#live_servers#-->" aria-valuemin="0" aria-valuemax="<!--#total_servers#-->">
										<div id="gs_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"><!--#live_servers#-->/<!--#total_servers#--></div> 
									</div>
								</div>
							</td>
						</tr>
                    <tr>
							<td style="width:20%;">Disk Space Used</td>
							<td style="padding:1%;">
								<div class="progress" style="height:2rem;">
									<div   id ="ud_pb" class="progress-bar" role="progressbar" style="width: <!--#quota_pc#-->%" aria-valuenow="<!--#quota#-->" aria-valuemin="0" aria-valuemax="<!--#total_servers#-->">
										<div id="ud_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"><!--#total_size#--></div> 
									</div>
								</div>
							</td>
						</tr>    
						<tr>
							<td style="width:20%;">Memory Load</td>
							<td style="padding:1%;">
								<div id="" class="progress" style="height:2rem;">
									<div id= "mem_pb" class="progress-bar" role="progressbar" style="width: <!--#total_mem#-->%" aria-valuenow="<!--#live_servers#-->" aria-valuemin="0" aria-valuemax="<!--#total_servers#-->">
									
									<div id="mem_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"><!--#total_mem#-->%</div> 
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="width:20%;">CPU Load</td>
							<td style="padding:1%;">
								<div class="progress" style="height:2rem;width:100%;">
									<div id="cpu_pb" class="progress-bar" role="progressbar" style="width: <!--#total_cpu#-->%" aria-valuenow="<!--#live_servers#-->" aria-valuemin="0" aria-valuemax="<!--#total_servers#-->">
									
									<div id="cpu_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"><!--#total_cpu#-->%</div> 
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="width:20%;">Slots Used</td>
							<td style="padding:1%;">
								<div class="progress" style="height:2rem;width:100%;">
									
									<div id="op_pb" class="progress-bar" role="progressbar" style="width: <!--#player_pc#-->%" aria-valuenow="<!--#live_servers#-->" aria-valuemin="0" aria-valuemax="<!--#total_slots#-->">
										<div id="op_pbs" style="color: rgb(0, 0, 0); font-weight: bold; text-align: center; width: 74% ;float:left;position:absolute;"><!--#total_players#-->/<!--#total_bots#-->/<!--#total_slots#--></div> 
									</div>
								</div>
							</td>
						</tr>            
                </table>
              <!--<p><!--#level#-></p>-->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NoIdeer Software</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
<script src="js/baseserver.js"></script>
<script src = "js/jquery-1.8.3.min.js"></script>
<script>
	jQuery(document).ready(function(){
    
    updateClock();
    setInterval('updateClock()', 1000);
    var url = "<!--#url#-->";
    console.log(url);
    base_servers(url)
    setInterval( function() { base_servers(url); }, 8000 );
});
</script>
</body>

</html>
