<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Console</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!--#include#-->

</head>

<body>

  <!--#header#-->
<!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <!--#sidebar#-->
  <!-- ======= End Sidebar-->

  <main id="main">

    <div class="pagetitle">
      <h5>Console #display_server#</h5>
     <!--<nav>
        <ol class="breadcrumb">
          <!--<li class="breadcrumb-item"><a href="index.php">Home</a></li>
          <li class="breadcrumb-item active">Console</li>
        </ol>
      </nav>-->
    </div><!-- End Page Title -->

<section class="section">
	 <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
				<h5 class="card-title" style="font-size:14px;display:none;" id="server-select"><span style="padding-right:1%;">Choose Server</span><select id="servers"><!--#sbox#--></select></h5>
				<div id="log"  class="gameserver_log" style="font-size:14px;margin-top:3.3%;margin-bottom:2%;"></div>
				</br>	
				   
				<form id="sendcmd" action="/api.php" method="get">
				<div class="input-group">
					<input class="form-control"name="text" type="text" id="text" size="50" placeholder="Enter Server Command">
					<input type="hidden" id="action" name="action" value="exe_tmux">
					<input type="hidden" id="server" name="server" value="">
					<input type="hidden" id="cmd" name="cmd" value="c">
					<input type="hidden" id="key" name="key" value="">
					<label for="send" class="btn btn-info">Send <i class="bx bxs-send"></i></label>	   
					<input class="hidden" type="submit" value="send" id="send">
				</div>
				<div style="clear:none;margin-left:38%;margin-top:-4.3%;position:absolute;color:green;font-weight:bold;z-index:1000;" id="ajax-response"></div>	
				</form>
				
				<div id="cmd_buttons" style="display:none;margin-top:1%;">
			<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#cvars"><i class="ri-booklet-line"></i> View C Vars</button>			
			<button id="create-user" style="display:none;" class="btn">Ban user</button>
			<span style="padding-left:5px;">
			    <button id="quick" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#quick_cmds"><i class="fas fa-tachometer-alt"></i> Quick Commands</button>
			    <button onclick="history.back();" type="button" class="btn btn-success">Go Back</button>
			</span>
			
		 </div>
			</div>		
		</div>
	</div>		
		<div id="player" class="col-lg-6">
			<div class="card">
				<div class="card-body">		
					<div class="card-title" style="text-align:center;font-size:14px;" id="player_title">Choose Game</div>
						<div class="table-wrapper" style="max-height:65vh;">	
							<table class="table table-sml" id="players_table" style="table-layout: fixed;">
								<thead>
									<tr style="padding-bottom:6px;" style="width:100%">
										<th  class="table-header" style="width:50%;">Name</th>
										<th  class="table-header" style="text-align:center;">Location</th>
										<th  class="table-header" style="text-align:center;">Score</th>
										<th  class="table-header" style="padding-left:2%;">Time</th>
									</tr>
								</thead>	
								<tbody id="pbody"></tbody>
							</table>
						</div>
						<div id="player_rows"></div>
					</div>
			</div>		
		</div>
		
	</div>	
			<div style="clear:both;padding-top:1%;">
		

		
  
    </section>

  </main><!-- End #main -->

			<div class="modal fade" id="error" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><span id="error_action"></span></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<p id="error_text"></p>
				</div>
			 <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             </div>
                  </div>
                 </div>
                 </div> 
             <!--ban user-->     			
			<div class="modal fade" id="ban_user" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered modal-xl" style="max-width:83%;">
					<div class="modal-content">
						<div class="modal-header">
							<!--<h5 id="user-title" class="card-title">User Information</h5>-->
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
                   
                    <iframe  style="width:100%; height:80vh;" id="ifrm" id="ifrm" src="frame.php" frameborder="0" >Your browser doesn't support iframes.</iframe>
                  </div>
                </div>
                
              </div>
              <div class="modal fade" id="quick_cmds" tabindex="-1" aria-hidden="true" style="display: none;">
					<div class="modal-dialog modal-dialog-centered" style="max-width:600px">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Quick Commands</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body"  id="q_cmds">
						 <div class="form-inline">
							 <form class="form-inline">
								<div class="form-group mb-2">
									<label class="sr-only">Email</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Force Map">
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<label for="inputPassword2" class="sr-only">Password</label>
									<select class="form-control" style="width:227px;" id="map_change" >
										<option id="test" value="http://localhost:80/ajaxv2.5" path="/home/jim/games/bb2" host="81.132.54.204:27015">not in use yet !</option>
									</select>	
								</div>
								<span style="float:right;padding-left:36px;">
								<button type="submit" class="btn btn-primary mb-2">Go</button></span>
								
							</form>
						 <div class="form-group mx-sm-3 mb-3">
							 <div class="form-group mb-3">
									<label class="sr-only">Email</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="List Maps">
								</div>
								<button style="float:right;clear:none;" class="btn btn-primary" id="maps">Go</button>
							 </div>
						<div class="form-group mx-sm-3 mb-2">
							<div class="form-group mb-3">
									<label class="sr-only">Email</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Next Map">
								</div>
							<button style="float:right;clear:none;" class="btn btn-primary" id="next_level">Go</button>
							</div>
								
						<div class="form-group mx-sm-3 mb-2">
							
							<div class="form-group mb-3">
									<label class="sr-only">Email</label>
									<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="List Banned IP's ">
								</div>
							<button style="float:right;" class="btn btn-primary" id="ip_list_banned">Go</button>
							</div>
						<div class="form-group mx-sm-3 mb-2">	
							<div class="form-group mb-3">
								<label class="sr-only">Email</label>
								<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Write Banned IP's ">
							</div>	
								<button style="float:right;" class="btn btn-primary" id="ip_write_banned">Go</button>
							</div>
							
						<div class="form-group mx-sm-3 mb-2">	
							<div class="form-group mb-3">
								<label class="sr-only">Email</label>
								<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="List Banned ID's ">
							</div>	
							<button style="float:right;" class="btn btn-primary" id="id_list_banned">Go</button>
							</div>
						<div class="form-group mx-sm-3 mb-2">	
							<div class="form-group mb-3">
								<label class="sr-only">Email</label>
								<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Write Banned ID's ">
							</div>
							<button  type="submit"  class="btn btn-primary" id="id_write_banned">Go</button>
							</div>		
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
			</div>	 
			</div> 
             <div class="modal fade" id="cvars" tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Current Cvars</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="rule">
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
              </div>
  <!--#footer#-->
 <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
   <!-- <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>-->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--<script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>-->

 

  <!-- Template Main JS File -->
   <script src = "js/jquery.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src = "assets/js/main.js"></script>
   <script src = "js/console.js"></script>
<script>
	
 $(document).ready(function() {
    
     searchParams = new URLSearchParams(window.location.search)
     server = searchParams.get('server');
     if (server !== null && server !== undefined) {
		 //console.log("hmm working with "+server);
		 $('#servers>option[id="' + server + '"]').prop('selected', true);
		 $("#servers").trigger("change");
		 history.replaceState({}, null, "console.php");
		 return;
	}
	
     //console.log("working with "+server);
     $('#console').toggleClass("collapsed");
         var options =$('#servers option').length;
         if (options != 2){
			$('#log').css("margin-top", "0%");
			$('#server-select').show();
			
        }
        else {
			selectOption(1,'#servers');
		}
	});
</script>	
</body>

</html>
