<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title><!--#title#--></title>
	<meta content="Steam Game Controler" name="description">
	<meta content="" name="keywords">
	<!-- Favicons -->
	<link href="img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--#include#-->
</head>

<body>
	<!--#header#-->
	<!--#sidebar#-->
	<main id="main" class="main">
		<div class="span-show">
						
			<h5>Game Server Information</h5>
		</div>
		
		<section class="section">
		<div class="row" style="clear:both;padding-top:1%">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Status <span id="status" class="card-title" style="font-size:18px;font-weight: 500;"></span><img style="float:right;width:4%;" src="#logo#" /><span id="moddesc" style="float:right;padding-top:0.7%;margin-right:1%;"></span></h5>
						<table style="width:100%;" class="table">
							<tr><td>Host Name</td><td><span id="hostname"></span><span style="margin-left:2%;">Steam ID <span id="steamid"></span></span></td></tr>
							<tr><td>Game Tags</td><td id="gametags"></td></tr>
							<tr><td>History </td><td>Started <span id="start"></span>
							<span style="margin-left:2%;">Last Update <span id="update"></span></span>
							</td></tr>
							<!--<tr><td>Steam ID</td><td id="steamid"></td></tr>-->
							<tr>
								<td>Stats</td>
								<td>Players 
									<span id="players"></span>
									<span style="margin-left:2%;">Bots <span id="bots"></span></span>
									<span style="margin-left:2%;">Max <span id="maxplayers"></span></span>
									<span style="margin-left:2%;">Today <span id="player-tot"></span></span>
								</td>
							</tr>
							
							
							<tr>
								<td>Software</td>
								<td>Client ID 
									<span id="gameid"></span>
									<span style="margin-left:2%;">Server 
										<span id="server_id"></span>
									</span>
									<span style="margin-left:2%;">Version 
										<span id="build"></span>
									</span>
									<span style="margin-left:2%;">Secure 
										<span id="secure"></span>
									</span>
								</td>
							</tr>
							<tr>
								<td>Resource</td>
								<td>CPU 
									<span id="cpu"></span>
									<span style="margin-left:2%;">Memory 
										<span id="mem"></span>
									</span>	
								</td>
							</tr>
							<!--<tr><td>Memory use</td><td id="mem"></td></tr>
							<tr><td>Players Today</td><td id="player-tot"></td></tr>
							<tr><td>Game Tags</td><td id="gametags"></td></tr>
							<tr><td>Last Update</td><td id="update"></td></tr>-->
							<tr><td>Instance Folder</td><td><span id="location"></span> ( <span id="disk_space"></span> )</td></tr>
							<!--<tr><td>Instance Size</td><td id="disk_space"></td></tr>-->
							<tr><td>Install Folder</td><td><span id="install_dir"></span> ( <span id="install_size"></span> )</td></tr>
							<!--<tr><td>Install Size</td><td id="install_size"></td></tr>-->
						</table>
						<hr style="height:0px;margin-top:-1px;"/>
						<!--<h5 class="card-title" style="padding:0">Controls</h5>-->
						<div class="table-wrapper" style="text-align:center">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button class="hidden btn btn-danger"  id="stop_server" type="button" data-bs-toggle="modal" data-bs-target="#quit_game"><i class="bi bi-exclamation-octagon"></i> <span class="span-show">Stop</span></button>
								<button class="hidden btn btn-success"  id="start_server" type="button" onclick="start_server()"><i class="far fa-play-circle"></i> <span class="span-show">Start</span></button>
								<button class="hidden btn btn-warning" id="restart_server" type="button" onclick="restart_server()"><i class="ri-restart-line"></i> <span class="span-show">Restart</span></button>
								<button class="hidden btn btn-secondary" id="join_server" type="button"><i class="fa fa-gamepad"></i> <a style="color:#fff;" href="<!--#join_link#-->"><span class="span-show">Join</span></a></button>
								<button class="hidden btn btn-info" id="cvar" type="button" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"><i class="ri-booklet-line"></i> <span class="span-show">C Vars</span></button>
								<button class="hidden btn btn-success" id="console1" style="background-color:purple;border-color:purple;"><a style="color:#ffffff;" href="console.php?server=#bserver#"><i class="bx bxs-terminal"></i> <span class="span-show">Console</span></a></button>
								<button class="btn btn-primary" type="button"><a style="color:#ffffff;" href="settings.php?id=#bserver#"><i class="ri-edit-2-line"></i> <span class="span-show">Settings</span></a></button>
								<button onclick="force_back();" type="button" class="btn btn-success"><i class="fa-regular fa-hand-point-left"></i> <span class="span-show">Go Back</span></button>
							</div>                           
						</div>
						<h5 class="card-title" id="showlog" style="cursor:pointer;padding:0;">Send Command</h5>
						<div id ="log"  class="gameserver_log gameserver-cmd"></div>
						<div style="width:100%;">
							<form id="sendcmd"  style ="width:100%;float:left;padding-top:2%;" action="#url#/api.php" method="get">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter Server Command" name="text" id="text">
									<input type="hidden" id="action" name="action" value="exe_tmux">
									<input type="hidden" id="server" name="server" value="#host_name#">
									<input type="hidden" id="cmd" name="cmd" value="c">
									<input type="hidden" id="key" name="key" value="{$key}">
									<input  type="submit" id="send"  class="hidden" value="do this">
									<label for="send" class="btn btn-info">Send <i class="bx bxs-send"></i></label>
								</div>
							</form>
							<div class ="ajax_response" id="ajax-response"></div>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="col-lg-6" id="player">
				<div class="card">
					<div class="card-body"  id="player-div">
						<h5 class="card-title">Players
							<!--<span style="float:right;clear:none;" id="player_title" ></span>
							<span style="float:right;padding-right:1%;">Map</span>-->
						</h5>
						<div id="pages-d" style="display:none;"></div> 
						<div class="table-wrapper"  id="player-table-wrap">
							
							<table class="table table-sm" style="table-layout: fixed;" id="player-table">
								<thead>
									<th  class="table-header" style="width:48%;">Name</th>
									<th class="table-header" >Location</th>
									<th class="table-header" style="width:27%;padding-left:8%;">Time Online</th>
								</thead>
								<!--#player_list#-->
							</table>
						</div>
					</div>
				</div> 
				
	<div class="card" style="display:none;">
            <div class="card-body">
              <h5 class="card-title">Disk Usage</h5>
                <table class="table">
					
					
                 </table>
            </div>
          </div>
          </div>
        </div>
		<div class="modal fade" id="modalDialogScrollable" tabindex="-1">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Current Cvars</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="rule"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
              </div>
               <div class="modal fade" id="quit_game" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Stop <!--#bserver#--></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Stop Server, are you sure ?<br>This will stop the sever directly with no warning to online players
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="quit">Stop Server</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="ban_user" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ban User</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<form>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label"l>Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" readonly="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">IP Address</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="ip" readonly="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-3 col-form-label">Steam ID</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="steam_id" readonly="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-form-label col-sm-3">Ban Period</label>
                 <div class="col-sm-8">
                    <select id="inputState" class="form-select">
                    <option selected="">Choose...</option>
                    <!--#sbox#-->
                  </select>
                  </div>
                </div>
                
               
              </form>
			
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="ban">Update User</button>
                    </div>
                  </div>
                </div>
              </div>
			<div class="modal fade" id="edit" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit <!--#bserver#--></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     <table class="table">
						 <tbody id="items"></tbody>
                     </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
      </div>
     
           
  </main><!-- End #main -->
	#userframe#
	#alert#
 <!--#footer#-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
   
  <!-- Template Main JS File -->
  <script src = "js/jquery.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="js/index.js"></script>
  <script src="js/gameserver.js"></script>
  <script src="js/date_format.js"></script>
  
<script>
	var a_href = 0;
	url = "#url#";
	var id='';
	var path='';
	var type='Source';
	var host= '';
	var file ="";
	var maxFilesize = "<!--#max_upload#-->";
	$(document).ready(function(){
		$('#gameservers-nav').toggleClass("show");
	  	cmd =$("#scmd").val();
	  	if ($("#ohostname").val()) {
			option = $("#ohostname").val();
			newopt = '"'+option+'"';
			x = cmd.replace(option,newopt);
			$("#vcmd").text(x);
		}
		id = "#host_name#";
		game = "<!--#bserver#-->"
		server ="<!--#fname#-->";
		port = 0;
		fetchlog(port,id,url);
		setInterval(fetchlog, 2000);
		players(port,id,url);
		get_game(url,server,id);
		setInterval(get_game,4000);
		width = $(window).width();
		//if (width >1000) {
			//$("body").addClass("toggle-sidebar");
		//}
		 paginate(0,'player-table','pages-d');
		 //alert(referrer,false,"we came from");
	});
	
</script>

</body>

</html>
