<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title><!--#title#--></title>
	<meta content="Steam Game Controler" name="description">
	<meta content="" name="keywords">
	<!-- Favicons -->
	<link href="img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--#include#-->
</head>

<body>
	<!--#header#-->
	<!--#sidebar#-->
	<main id="main" class="main">
		<div class="pagetitle">
			<div style="float:right;width:5%;margin-top:-1%;"><img class="dark-img" style="float:right;width:100%;" src="<!--#logo#-->" /></div>
			<div id="moddesc" style="float:right;padding-right:2%;padding-top:1%;"><!--#moddesc#--></div>
			<h1>Game Server Information</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.php">Home</a></li>
					<li class="breadcrumb-item" id="toggle">Game Servers</li>
					<li class="breadcrumb-item active"><!--#bserver#--></li>
				</ol>
			</nav>
		</div>
		<section class="section">
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Status <span id="status" class="card-title" style="font-size:18px;font-weight: 500;"></span></h5>
						<table style="width:100%;" class="table">
							<tr><td>Started</td><td id="start"></td></tr>
							<tr><td>Steam ID</td><td id="steamid"></td></tr>
							<tr><td>Host Name</td><td id="hostname"></td></tr>
							<tr><td>Players Online</td><td id="players"></td></tr>
							<tr><td>Bots Online</td><td id="bots"></td></tr>
							<tr><td>Max Players</td><td id="maxplayers"></td></tr>
							<tr><td>Client Software ID</td><td id="gameid"></td></tr>
							<tr><td>Server Software ID</td><td id="server_id"></td></tr>
							<tr><td>Server Version</td><td id="build"></td></tr>
							<tr><td>VAC Secure</td><td id="secure"></td></tr>
							<tr><td>CPU use</td><td id="cpu"></td></tr>
							<tr><td>Memory use</td><td id="mem"></td></tr>
							<tr><td>Players Today</td><td id="player-tot"></td></tr>
							<tr><td>Game Tags</td><td id="gametags"><!--#gametags#--></td></tr>
							<tr><td>Last Update</td><td id="update"></td></tr>
						</table>
						<hr style="height:0px;margin-top:-1px;"/>
						<!--<h5 class="card-title" style="padding:0">Controls</h5>-->
						<table>
							<tr style="border-bottom: 12px solid transparent;">
								<td class="hidden pad_right"   id="stop_server"><button id="stop_serverd" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#quit_game"><i class="bi bi-exclamation-octagon"></i> Stop</button></td>
								<td class="hidden pad_right"   id="start_server"><button class="btn btn-success"  onclick="start_server()"><i class="far fa-play-circle"></i> Start</button></td>
								<td class="hidden pad_right"   id="restart_server"><button class="btn btn-warning" onclick="restart_server()"><i class="ri-restart-line"></i> Restart</button></td>
								<td class="hidden pad_right"   id="join_server"><button type="button" class="btn btn-primary"><i class="fa fa-gamepad"></i> <a style="color:#fff;" href="<!--#join_link#-->">Join</a></button></td>
								<td class="hidden pad_right"   id="cvar"><button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable"><i class="ri-booklet-line"></i> C Vars</button></td>
								<td id="settings"><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mod_settings"<i class="ri-edit-2-line"></i> Settings</button></td>
							</tr>
						</table>
						<h5 class="card-title" id="showlog" style="cursor:pointer;padding:0;">Send Command</h5>
						<div id ="log"  class="gameserver_log gameserver-cmd"></div>
						<div style="width:100%;">
							<form id="sendcmd"  style ="width:100%;float:left;padding-top:2%;" action="<!--#url#-->/api.php" method="get">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter Server Command" name="text" id="text">
									<input type="hidden" id="action" name="action" value="exe_tmux">
									<input type="hidden" id="server" name="server" value="<!--#host_name#-->">
									<input type="hidden" id="cmd" name="cmd" value="c">
									<input type="hidden" id="key" name="key" value="{$key}">
									<input  type="submit" id="send"  class="hidden" value="do this">
									<label for="send" class="btn btn-info">Send <i class="bx bxs-send"></i></label>
								</div>
							</form>
							<div class ="ajax_response" id="ajax-response"></div>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Players
							<span style="float:right;clear:none;" id="player_title" ></span>
							<span style="float:right;padding-right:1%;">Map</span>
						</h5>
						<div class="table-wrapper" style ="height:391px;"> 
							<table style="width:100%;" class="table table-sm" style="table-layout: fixed;">
								<thead>
								<tr>
									<th style="width:50%;">Name</th><th>Location</th><th style="padding-left:2%;">Score</th><th style="text-align:center;">Time Online</th>
								</tr>
								</thead>
								<tbody id="pbody"></tbody>
							</table>
						</div>
					</div>
				</div> 
				
	<div class="card">
            <div class="card-body">
              <h5 class="card-title">Disk Usage</h5>
                <table class="table">
					<tr><td style="width:45%;">Instance Folder</td><td id="location"><!--#location#--></td></tr>
					<tr><td>Instance Size</td><td id="disk_space"><!--#disk_space#--></td></tr>
					<tr><td>Install Folder</td><td id="install_dir"><!--#install_dir#--></td></tr>
					<tr><td>Install Size</td><td id="install_size"><!--#install_size#--></td></tr>
                 </table>
            </div>
          </div>
          </div>
        </div>
      
              <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Current Cvars</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="rule">
                      Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequa>
                      <br><br><br><br><br><br><br><br><br>jim<br>bow<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                      This content should appear at the bottom after you scroll.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
              </div>
               <div class="modal fade" id="quit_game" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Stop <!--#bserver#--></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Stop Server, are you sure ?<br>This will stop the sever directly with no warning to online players
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="quit">Do It</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="ban_user" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ban User</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<form>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label"l>Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" readonly="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">IP Address</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="ip" readonly="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-3 col-form-label">Steam ID</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="steam_id" readonly="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-form-label col-sm-3">Ban Period</label>
                 <div class="col-sm-8">
                    <select id="inputState" class="form-select">
                    <option selected="">Choose...</option>
                    <!--#sbox#-->
                  </select>
                  </div>
                </div>
                
               
              </form>
			
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" id="ban">Do It</button>
                    </div>
                  </div>
                </div>
              </div>
			<div class="modal fade" id="edit" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit <!--#bserver#--></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     <table class="table">
						 <tbody id="items"></tbody>
                     </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
      </div>
     <div class="modal fade" id="mod_settings" tabindex="-1">
         <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                 <div class="modal-body">
					<div class="col-lg-12">
					  <div class="modal-header" style="border-bottom:none;">
						<h5 class="modal-title"><span class="card-title">Settings for</span> <!--#server_name#--></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
                    <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Startup Manager</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Config Files</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="supported-games" data-bs-toggle="tab" data-bs-target="#bordered-games" type="button" role="tab" aria-controls="contact" aria-selected="false">Mods</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="notifactions" data-bs-toggle="tab" data-bs-target="#bordered-notifications" type="button" role="tab" aria-controls="contact" aria-selected="false">Notifications</button>
						</li>
					</ul>
					<div class="tab-content pt-2" id="borderedTabContent">
						<div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
							<div class="col-lg-6">
								<p>Server ID :<span style="padding-left:1%;"><!--#host_name#--></span></p>
								<p>Mod : <span style="padding-left:1%;"><!--#run_stub#--></span></p>
								<p>Host IP :<span style="padding-left:1%;"><!--#host#--></span></p>
								<p>Game Port :<span style="padding-left:1%;"><!--#port#--></span></p>
								<p>Client Port :<span style="padding-left:1%;"><!--#client_port#--></span></p>
								<p>TV Port :<span style="padding-left:1%;"><!--#source_port#--></span></p>
							</div>
						</div>
					<div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
						<div style="margin:auto;">
							
							<h5 class="card-title">Options</h5>
							<!--#cmd_line_opts#-->
							<form id="startcmd" method="POST" action="<!--#url#-->/api.php">
								<input type="hidden" value="setting" name="action"/>
								<input type="hidden" value="startcmd" name="set"/>
								<input type="hidden" name="server" value="<!--#host_name#-->"/>
								<input id ="changes" type="hidden" name="file" value=""/>
								<input  id="scmd" name="text" type="hidden" rows="4" style="display:table-cell;width:100%;" value="<!--#startcmd#-->" ></input> <!-- readonly-->
								<div style="margin-top:1%;">Comand Line</div>
								<div id="vcmd" ><!--#startcmd#--></div>
								<div style="text-align:center;margin-top:1%;"><button  class="btn btn-primary" style="margin-left:1%">Go</button></div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
										<select name="files" id="files">
											<!--#file_select#-->
										</select>
										<div style="margin-top:1%;">	
											<textarea id="fileview" name="fileview" rows="20" cols="80"><!--#cfg_file#--></textarea>
											<br>
											<button id ="save-file" class="btn btn-success" >Save File</button>
                                         </div>
									</div>
									<div class="tab-pane fade" id="bordered-games" role="tabpanel" aria-labelledby="contact-tab">
										<div class="panel">
											Supported
										</div>
									</div>
								<div class="tab-pane fade"  id="bordered-notifications" role="tabpanel" aria-labelledby="home-tab">	
									<p>Notiifications are sent to discord  </p>
									<p>Notifications are sent to your email address</p>
								</div>
							
						     </div>
						</div>
                    </div>
                    <div class="modal-footer">
						<!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                  </div>
                </div>
              </div>
    

  </main><!-- End #main -->

 <!--#footer#-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
   
  <!-- Template Main JS File -->
  <script src = "js/jquery.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="js/index.js"></script>
  <script src="js/gameserver.js"></script>
  <script src="js/date_format.js"></script>
  
<script>
	var a_href=0;
		url = '<!--#url#-->';
		var id='';
		var path='';
		var type='Source';
		var host= '';
		var file ="";
	$(document).ready(function(){
		$('#gameservers-nav').toggleClass("show");
	  	
		id = "<!--#host_name#-->";
		game = "<!--#bserver#-->"
		server ="<!--#fname#-->";
		port = 0;
		fetchlog(port,id,url);
		setInterval(fetchlog, 2000);
		players(port,id,url);
		setInterval(players, 7000);
		get_game(url,server,id);
		setInterval(get_game,4000);
    //console.log(url);
    //base_servers(url)
    $('#startcmd').on('submit', function(e) {
        e.preventDefault();
        url +="/"+$(this).attr('action');
        var formValues = $(this).serialize();
        //alert(formValues+" - "+url);
       console.log( $(this).attr('action'));
         
        $.ajax({
			
            type: $(this).attr('method'),
           url: url,
            data: formValues,
           success: function(data) {
        //         alert (data);    
         //       $('#ajax-response').html(data);
         //       $("#ajax-response").show();
         //      $('#text').val(""); 
         //       $("#send").blur(); 
         //       $('#ajax-response').delay(3000).fadeOut('slow');
           }
        });

    });
 	$('#sendcmd').on('submit', function(e) {
        e.preventDefault();
        //alert('send command');
       console.log( $(this).attr('action'));
        
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(data) {
            
                $('#ajax-response').html(data);
                $("#ajax-response").show();
                $('#text').val(""); 
                $("#send").blur(); 
                $('#ajax-response').delay(3000).fadeOut('slow');
            }
        });

    });
    $('#quit').click(function() {
		// pressed quit
		cmd = url+'/ajaxv2.php?action=version';
		//alert ('hit quit '+url);
		 $('#quit_game').modal('hide');
		 stop_server(); 

	});
	$('#showlog').click(function() {
		$('#log').toggle();
		$('#log').scrollTop($('#log')[0].scrollHeight);
	});
	
	$('#toggle').click(function() {
		$('#gameservers').toggleClass('collapsed');
		$('#gameservers-nav').toggleClass('show');
	});
	

 $('#files').change(function(){
            selected_value = $('#files').val()
            console.log("triggerd change");
            //alert(selected_value);
            var sendurl = url+"/api.php?action=get_file&cmd=view&n="+selected_value;
            alert(sendurl);
            $.ajax({
            type: 'GET',
            url: sendurl,
            dataType: 'text',
            //data: $(this).serialize(),
            success: function(data) {
			alert(data);
            //alert("data back");
            $("#fileview").val(data);
            var $textarea = $('#fileview');
			$textarea.scrollTop(0);    
            }
        });
    
        });
       $('#save-file').click(function() {
		   console.log("saving file");
		    selected_value = $('#files').val();
		    console.log(selected_value);
		    var sendurl = url+"/api.php";
		    file = $('#fileview').html();
		    console.log(sendurl);
		    $.ajax({
				type: 'POST',
				url: sendurl,
				dataType: 'text',
				data: { 'import': file,
				'action': 'get_file' ,
				'cmd': 'save' ,
				'n': selected_value },
				//processData: true,
				//contentType: "application/json; charset=UTF-8",
				//data: $(this).serialize(),
				success: function(data) {
					console.log(data);
					alert("data back"+data);
					$("#fileview").html(data);
					var $textarea = $('#fileview');
					$textarea.scrollTop(0);
					sendurl='';    
				}
			});
	   }); 
	   $('#fileview').change(function(){
		   console.log ("fileview changed");
		   alert ($('#fileview').val());
		   //result = $('#fileview').val().replace(/"/gi, "/#/");
		   //alert (result);
		   //res = $('#fileview').val();
		   //let file = JSON.stringify(res);
		   //alert (file);
	   });
	
$("#ohostname").change(function(){
	    cmd =$("#scmd").val();
	    newopt = $(this).attr("option")+" "+$(this).val();
	    //alert($(this).val());
	    original = $(this).attr("orig");
	    $.trim(original);
	    //alert(original);
	    if ($(this).val() === "") {
			$(this).attr("orig","not set");
			x= cmd.replace(" "+original,"");
			//alert(x);
			$("#changes").val("remove_hostname");
			$("#scmd").val(x);
			newline = x.replace(newopt,'"'+newopt+'"'); 
			$("#vcmd").text(newline);
			
			return;
		}	
	    		
		if (original === "not set") {
				x = cmd.replace("+map",newopt+" +map");
		}
		else {
			x = cmd.replace(original,newopt);
		}
		//alert(x);
		$(this).attr("orig",newopt)
		$("#scmd").val(x);
		newline = x.replace($(this).val(),'"'+$(this).val()+'"'); 
		$("#vcmd").text(newline);
		$("#changes").val("add_hostname");
  });
  
  $('#omaxplayers').on('change', function() {
	cmd =$("#scmd").val();
	newopt = $(this).attr("option")+" "+$(this).val();
	original = $(this).attr("orig");
	$(this).attr("orig",newopt);
	x = cmd.replace(original,newopt);
	$("#scmd").val(x);
	if($("#changes").val() =='') {
		$("#changes").val("change_players");
	}
	else {
		added = $("#changes").val()+','+'change_players';
		$("#changes").val(added);
	}
	$("#vcmd").text(x);
	});
	 $('#map-options').on('change', function() {
		// change map here
		cmd =$("#scmd").val();
		x= cmd.replace($("#omap").val(),$(this).val());
		$("#omap").val($(this).val());
		$("#scmd").val(x);
		$("#vcmd").text(x);
		newmap = "+map "+$(this).val();
		newmap = $.trim(newmap);
		$("#omap").attr("orig",newmap);
	});
	$('#omap').on('change', function() {
		// map typed in
		cmd =$("#scmd").val();
		newopt = $(this).attr("option")+" "+$(this).val();
		original = $.trim($(this).attr("orig"));
		//alert ("original "+original+" new "+newopt);
		x = cmd.replace(original,newopt);
		$(this).attr("orig",newopt)
		$("#scmd").val(x);
		$("#vcmd").text(x);
		if($("#changes").val() =='') {
		$("#changes").val("change_map");
		}	
		else {
			added = $("#changes").val()+','+'change_map';
			$("#changes").val(added);
		}
		alert("you typed something");
	});
	$('#omp_teamplay').on('change', function() {
		// team play
		cmd =$("#scmd").val();
	    newopt = $(this).attr("option")+" "+$(this).val();
	    original = $.trim($(this).attr("orig"));
		alert ("original "+original+" new "+newopt);
		x = cmd.replace(original,newopt);
		alert (x);
		$(this).attr("orig",newopt);
		$("#scmd").val(x);
		$("#vcmd").text(x);
	});
});
</script>
</body>

</html>
