<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><!--#title#--></title>
  <meta content="Steam Game Controler" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/08a3755b76.js" crossorigin="anonymous"></script>
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!--#header#-->
  <!-- End Header -->

  <!--#sidebar#-->
 <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
		
		<div style="float:right;width:5%;margin-top:-1%;"><img style="float:right;width:100%;" src="<!--#logo#-->" /></div>
		<div style="float:right;padding-right:2%;padding-top:1%;"><!--#moddesc#--></div>
      <h1>Game Server Information</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.php">Home</a></li>
          <li class="breadcrumb-item">Game Servers</li>
          <li class="breadcrumb-item active"><!--#bserver#--></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
		
      <div class="row">
        <div class="col-lg-6">
		
			 <div class="card">
            <div class="card-body">
              <h5 class="card-title">Console</h5>
              <table style="width:100%;padding:4px;">
                        <tr style="border-bottom: 12px solid transparent;">
							<td colspan="2" >
								<div id ="log" style="background:#000;color:#fff;width:100%;max-height:520px !important;min-height:520px;height:520px;overflow:scroll;padding:1%;float:left;white-space: nowrap;border-style:double;text-align:left;"></div>
							</td>
						</tr>
						<tr>
							<td style="width:80%;">
								<form id="sendcmd"  style ="width:100%;float:left;" action="<!--#url#-->/ajaxv2.php" method="get">
									<input type="text" class="form-control" placeholder="Enter Server Command">
									 <input type="hidden" id="action" name="action" value="exescreen">
									<input type="hidden" id="server" name="server" value="<!--#host_name#-->">
									<input type="hidden" id="cmd" name="cmd" value="c">
									<input type="hidden" id="key" name="key" value="{$key}">	   
							</td>
							<td style="padding-right:5%;"><button  style="float:right;" type="button" class="btn btn-info"><i class="bx bxs-send"></i> Send</button></td>
							</form>
						</tr>
                    
                </table>
             <!--<p><!--#url#-></p>-->
            </div>   
	</div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Start Up</h5>
              	<table>
						<tr><td style="width:50%;">Managed By</td><td><!--#managed_by#--></td></tr>
                        <tr><td>Host Name</td><td><!--#host_name#--></td></tr>
                        <tr><td>Broadcast Name</td><td id="broadcast_name"><!--#server_name#--></td></tr>
                        <tr><td>Default Map</td><td id="default_map"><!--#default_map#--></td></tr>
                        <tr><td>Game Port</td><td id="port"><!--#port#--></td></tr>
                        <tr><td>Client Port</td><td id="client_port"><!--#client_port#--></td></tr>
                        <tr><td>Tv Port</td><td id="source_port"><!--#source_port#--></td></tr>
                        <tr><td>Game Tags</td><td id="gametags"><!--#gametags#--></td></tr>
						
		 </table>
            </div>
          </div>

       
<div class="card">
            <div class="card-body">
              <h5 class="card-title">Disk</h5>
                <table>
                        <tr><td style="width:45%;">Instance Folder</td><td id="location"><!--#location#--></td></tr>
                        <tr><td>Instance Size</td><td id="disk_space"><!--#disk_space#--></td></tr>
                        <tr><td>Install Folder</td><td id="install_dir"><!--#install_dir#--></td></tr>
                        <tr><td>Install Size</td><td id="install_size"><!--#install_size#--></td></tr>
                        <!--<tr><td>Disk Free</td><td><!--#root_free#-></td></tr>-->
                </table>
            </div>
          </div>

         
</div>
        <div class="col-lg-6">
				<div class="card">
            <div class="card-body">
              <h5 class="card-title">Controls</h5>
                <table style="width:100%;">
					
			     <tr style="border-bottom: 12px solid transparent;">
					 <td><button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i> Stop Server</button></td>
					<td><button type="button" class="btn btn-warning"><i class="ri-restart-line"></i> Restart Server</button></td>
					<td><button type="button" class="btn btn-primary"><i class="fa fa-gamepad"></i> Join Game</button></td>
				
					<td><button type="button" class="btn btn-info"><i class="ri-booklet-line"></i> View C Vars</button></td>
					<td><button type="button" class="btn btn-primary"><i class="ri-edit-2-line"></i> Settings</button></td>
				</tr>
                </table>
            </div>
          </div> 
          				<div class="card">
            <div class="card-body">
              <h5 class="card-title">Players</h5>
              <div style ="height:406px;">
                <table style="width:100%;">
					<!--<caption>Current Map</caption>-->
			     <tr style="border-bottom: 12px solid transparent;">
					<th style="width:35%;">Name</th><th>Location</th><th>Score</th><th>Time Online</th>
				</tr>
				<tr><td>name</td><td>Location</td><td>Score</td><td>time</td></tr>
                </table>
                </div>
            </div>
          </div> 
	<div class="card">
            <div class="card-body">
              <h5 class="card-title">Current Status <!--#l_status#--></h5>
                <table style="width:100%;">
						<tr><td style="width:25%;">Steam ID</td><td id="steamid"><!--#steamid#--></td></tr>
                        <tr><td style="width:25%;">Broadcast Name</td><td id="hostname"><!--#hostname#--></td></tr>
                        <tr><td>Current Map</td><td id="map"><!--#map#--></td></tr>
                        <tr><td>Players Online</td><td id="players"><!--#players#--></td></tr>
                        <tr><td>Bots Online</td><td id="bots"><!--#bots#--></td></tr>
                        <tr><td>Max Players</td id="maxplayers"><td><!--#maxplayers#--></td></tr>
                        <tr><td>Secure</td><td ="secure"><!--#secure#--></td></tr>
                        
                        <tr><td>Client Software ID</td><td><!--#gameid#--></td></tr>
                        <tr><td>Server Software ID</td><td><!--#server_id#--></td></tr>
                        <tr><td>Server Build</td><td><!--#rbuildid#--></td></tr>
                        <tr><td>Last Update</td><td><!--#rserver_update#--></td></tr>
                        <tr><td>Curl Version</td><td><!--#curl#--></td></tr>
                        <tr><td>NginX Version</td><td><!--#nginx#--></td></tr>
                        <tr><td>Quota Version</td><td><!--#quotav#--></td></tr>
                        <tr><td>Postfix Version</td><td><!--#postfix#--></td></tr>
                        <tr><td>Git Version</td><td><!--#url#--></td></tr>
                         
                </table>
            </div>
          </div>

           
         
          </div>

        </div>
      </div>
     
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NoIdeer Software</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
 
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="js/pindex.js"></script>
  <script src = "js/jquery-1.8.3.min.js"></script>
<script>
	jQuery(document).ready(function(){
    updateClock();
    setInterval('updateClock()', 1000);
   
    var url = "<!--#url#-->";
    var id = "<!--#host_name#-->";
    var port = 0;
     fetchlog(port,id,url);
    //console.log(url);
    //base_servers(url)
});

function fetchlog(port,id,url) {
	alert(url+"  "+id);
	rows = 0;
	cmd = url+'/ajax_send.php?url='+url+'/ajaxv21.php&query=action=console:server='+id+':rows='+rows;
	//alert (cmd);
	var items='';
         console.log(cmd);
          $.ajax({
			
        type: 'GET',
        url: cmd,
        dataType: "json",
			    statusCode: {
        500: function() {
          alert("Script exhausted");
			return;
        }
      },
        success: function (data) {
                        console.log('got data - fetchlog');
						//console.log(data);

        },
        complete:function(data){
                         console.log(data);
                         alert(data[0]);
$.each(data.responseJSON, function(i, item) {
    alert(item);
items = items+item;
});

			var element = document.getElementById("log");
			if (element.scrollHeight - element.scrollTop === element.clientHeight)
    		{
				var bottom = true;
			}
			else {
				var bottom =false;
			}
$("#log").html(items);
			       if (bottom == true) {
     				element.scrollTop = element.scrollHeight;
					console.log('top = '+element.scrollTop);
				   }
                }
    });

};
</script>
</body>

</html>
