<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title><!--#title#--></title>
		<meta content="" name="description">
		<meta content="" name="keywords">
		<!-- Favicons -->
		
		<link href="img/favicon.png" rel="icon">
		<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
		<!--#include#-->
 	</head>
	<body>
		<div id ="header-wrapper" style="display:none;">
		<!--#header#-->
		<!--#sidebar#-->
		</div>
		<main id="main" class="main">
			<section class="section dashboard">
				<div  id="menu-bar" class="span-show" style="text-align:center;display:none;">
					<ul class="nav nav-tabs nav-tabs-bordered mini" id="borderedTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fa-solid fa-igloo"></i> <span class="span-show">Home</span></button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="fab fa-steam"></i> <span class="span-show">Online Servers</span></button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="bx bx-world"></i> <span class="span-show">Countries</span></button>
						</li>
						<li class="nav-item " role="presentation">
							<button class="nav-link" id="supported-games" data-bs-toggle="tab" data-bs-target="#bordered-games" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="ri-base-station-line"></i> <span class="span-show">Players</span></button>
						</li>
						<li class="nav-item" onclick="sclick()" style="cursor:pointer;"><span class="nav-link"><i class="fa-solid fa-magnifying-glass"></i> <span class="span-show">Search</span></span></li>
						<li class="nav-item"  style="cursor:pointer">
							<span  class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="d-md-block dropdown-toggle ps-2">
									<i class="fa-solid fa-chart-simple"></i> 
									<span class="span-show " >Statistics</span>
								</span>
							</span><!-- End Profile Iamge Icon -->
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="">
								<li>
									<span id = "general" section="general"  class="dropdown-item d-flex align-items-center stats">
										<i class="fa-solid fa-clipboard"></i>
										<span>General</span>
									</span>
								</li>
								<li>
									<span id = "user-list" class="dropdown-item d-flex align-items-center stats">
										<i class="ri-base-station-line"></i>
										<span>User Lists</span>
									</span>
								</li>
								<li>
									<span id = "country-list" class="dropdown-item d-flex align-items-center stats" >
										<i class="bx bx-world"></i>
										<span>Country Lists</span>
									</span>
								</li>
								<li>
									<span id = "linked-ip" class="dropdown-item d-flex align-items-center stats" >
										<i class="fa-solid fa-link"></i>
										<span>Linked IP's</span>
									</span>
								</li>
								<li>
									<span id = "ban-lists" class="dropdown-item d-flex align-items-center stats">
										<i class="fa-solid fa-user-slash"></i>
										<span>User Bans</span>
									</span>
								</li>
							</ul><!-- End Profile Dropdown Items -->
						</li><!-- End Profile Nav -->
						
						<li class="nav-item" style="cursor:pointer"> 
							<span  class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="d-md-block dropdown-toggle ps-2"><i class="fa-solid fa-gears"></i><span class="span-show " > Settings</span></span>
							</span>
							<ul id="util" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="width:9%;">
								<li><span id = "api-settings"  class="dropdown-item d-flex align-items-center stats"><i class="bi bi-server"></i><span> API Settings</span></span></li>
								<li><span id = "panel-settings"  class="dropdown-item d-flex align-items-center stats"><i class="fa-solid fa-wrench"></i><span href="#"> Panel Settings</span></span></li>
								
								  
									#pulldown#
							
							</li>
								<li id="theme-switch" onclick="themeswitch();" ><span class="dropdown-item d-flex align-items-center stats" id="themeswitch" ><i id="theme-icon" class="fa fa-fw fa-sun" aria-hidden="true"></i><span> Switch Mode</span></span></li>
							</ul>
						</li>
						<li id="utils" class="nav-item" style="cursor:pointer"> 
							<span  class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="d-md-block dropdown-toggle ps-2"><i class="fa-solid fa-mask-ventilator"></i><span class="span-show " > Utilities</span></span>
							</span>
							<ul id="util1" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
								
							
							<li class="nav-item span-show"><a class="nav-link" id="console" href="console.php"><i class="bx bxs-terminal"></i><span class="show-span"> Console</span></a></li> 
							    <li class="nav-item"><a class="nav-link collapsed"  id="updates" href="updates.php"><i class="fas fa-download"></i><span> Updates</span></a></li>
							</ul>
							
							<li class="nav-item span-show"><a class="nav-link" href="logout.php"><i class="fa fa-fw fa-sign-out-alt text-danger" aria-hidden="true"></i><span class="span-show "> Log Out</span></a></li>
						</li>
					
				</div>
		
			</div>				
			<div class="card-body">
				<div  id="active-load"  class="active-load">
					<div style="text-align:center;width:100%;">
						<img style="position: relative;margin-top:15vh;" src="img/logo.256x256.png"></img>
						<div class="loader" ></div>
						<div style="position: relative;text-align:center;width:100%;margin-top:10vh;"><h3 class="card-title">Loading Please wait</h3></div>
					</div>
				</div>
				<div class="tab-content pt-2" id="borderedTabContent">
					<div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
						<section class="section">
							<div class="dragContainer">
								<div id="drag-box"  class="row" style="display:none">
								<div class="col-md-4" id="option1" draggable="true">
									<div class="card info-card revenue-card">
										<div class="card-body" style="min-height:27vh;">
											
											<h5 class="card-title" style="margin-top:1%;">Player Stats<i class="ri-base-station-line card-icons" ></i></h5><hr style="margin:0;"/>
											<div id="p-stats"  style="width:100%;text-align:center;position:absolute;top:48%;">
											<div class="spinner-border text-danger" style="border-right-color:green;" role="status"><span class="visually-hidden">Loading...</span></div>
											</div>
											<table id="p-table" class="table no-border" style="display:none;">
												<tr><td>Online</td><td class="map-title" id="player"><//td></tr>
												<tr><td>Total</td><td class="map-title" id="player_tot"></td></tr>
												<tr><td>Today</td><td class="map-title" id="logins_today"></td></tr>		
												<tr><td>Total</td><td class="map-title" id="logins_tot"></td></tr>	
											</table>
										</div>
									</div>
								</div>
								<div class="col-md-4"  draggable="true">
									<div class="card info-card revenue-card">
										<div class="card-body" style="min-height:27vh;">
											<h5 class="card-title" style="margin-top:1%;">Country Stats<i class="bx bx-world card-icons"></i></h5><hr style="margin:0;"/>
											<div id="c-stats"  style="width:100%;text-align:center;position:absolute;top:48%;">
											<div class="spinner-border text-danger" style="border-right-color:green;" role="status"><span class="visually-hidden">Loading...</span></div>
											</div>
											<table id = "c-table" class="table no-border" style="display:none;">
												<tr><td>Countries</td><td class="map-title" id="countries"></td></tr>
												<tr><td>Top Today</td><td class="map-title" id="country_top_today"></td></tr>
												<tr><td>Top Overall</td><td class="map-title" id="country_top"></td></tr>
												<tr><td>Most Played</td><td class="map-title" id="pop_country"></td></tr>
											</table>	
										</div>
									</div>	
								</div>	
								<div class="col-md-4" draggable="true">
									<div class="card info-card revenue-card">
										<div class="card-body" style="min-height:27vh;">
											<h5 class="card-title" style="margin-top:1%;">Server Stats<i class="fab fa-steam card-icons"></i></h5><hr style="margin:0;"/>
											<div id="s-stats"  style="width:100%;text-align:center;position:absolute;top:48%;">
											<div class="spinner-border text-danger" style="border-right-color:green;" role="status"><span class="visually-hidden">Loading...</span></div>
											</div>
											<table id="s-table" class="table no-border" style="display:none;">
												<tr><td>Managed</td><td class="map-title" id="game_tot"></td></tr>
												<tr><td>Online</td><td class="map-title" id="run_tot"></td></tr>
												<tr><td>Most Popular</td><td class="map-title" id="most-played"></td></tr>
												<tr><td>In Game</td><td class="map-title" id="most-played-time"></td></tr>
											</table>	
										</div>
									</div>
								</div>
								<div class="col-md-4" id="parent-server"  draggable="true">
									<div class="card info-card revenue-card">
										<div class="card-body" style="min-height:27vh">
											<h5 class="card-title" style="margin-top:1%;"><span  id="server-desc" class="card-title">API Server</span><i class="bi bi-server card-icons"></i></h5><hr style="margin:0;margin-bottom:4px;"/>
											<div id="a-stats"  style="width:100%;text-align:center;position:absolute;top:48%;">
											<div class="spinner-border text-danger" style="border-right-color:green;" role="status"><span class="visually-hidden">Loading...</span></div>
											</div>
											<div class="table-wrapper active-server-height">
												<table id="a-table" class="table table-sml no-border" style="display:none;position: relative;">
													#server_body#
												</table>
											</div>	
										</div>
									</div>
								</div>
								<!--<div class="col-md-4" id="discord-server"   style="display:none;">
									<div class="card info-card revenue-card">
										<div class="card-body">
											<h5 class="card-title" style="margin-top:1%;" id="">Discord Server</h5><hr style="margin:0;"/>
											<div style="width:100%;text-align:center;">
												<a href="https://discord.com/channels/191581638629523456/191581638629523456" target=”_blank”  title="Go To Discord">
													<img id="disco-img" style="width:72%;" src="https://discordapp.com/api/guilds/191581638629523456/widget.png?style=banner3" alt="Discord Banner 2"/>
												</a>	
											</div>
										</div>
									</div>
								</div>-->
								<div class="col-md-4" id="active-servers"  draggable="true" >
									<div class="card info-card revenue-card">
										<div class="card-body" style="min-height:27vh;">
											<h5 class="card-title" style="margin-top:1%;">Active Servers<i class="fa-solid fa-plug card-icons"></i></h5><hr style="margin:0;"/>
											<div class="table-wrapper active-server-height">
												<div id="dormant" class="active-servers">No Active Servers</div>
												<table class="table table-sml no-border" id="xy" style="display:none"></table>	
											</div>
										</div>	
									</div>
								</div>
								<div class="col-md-4" draggable="true">
									<div class="card info-card revenue-card">
										<div class="card-body" style="min-height:27vh;">
											<h5 class="card-title" style="margin-top:1%;" id="">About PHPgsm<img src="img/logo.png" alt=""  class="phpgsm-logo"></h5><hr style="margin:0;"/>
											<div style="width:91%;margin:auto;margin-top:1rem;"> 
													PHPgsm is a game server manager API for steam (source mod) games, online documentation is found  <a href = "https://phporyx.co.uk/forumdisplay.php?fid=7">here</a>.<br>This site is using software that demonstrates the usage of the PHPgsm API, while functionable it is only a demostration.
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>			
					</div>
					<div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row">
							<!--#gd#-->
						</div>
					</div>
					<div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row">
							<!--#country_data#-->  
						</div>
					</div>
					<div class="tab-pane fade" id="bordered-games" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row">
							<!--#fpd#-->  
						</div>
					</div>
					</div>
				</div><!-- End Bordered Tabs -->
			</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
				            <!-- Reports -->
								<div class="col-12" style="display:none;">
									<div class="card">
										<div class="filter">
											<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
											<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
												<li class="dropdown-header text-start"><h6>Filter</h6></li>
												<li><a class="dropdown-item" href="#">Today</a></li>
												<li><a class="dropdown-item" href="#">This Month</a></li>
												<li><a class="dropdown-item" href="#">This Year</a></li>
											</ul>
										</div>
										<div class="card-body">
											<h5 class="card-title">Reports <span>/Today</span></h5>
										</div>
									</div>
								</div><!-- End Reports -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		#alert#
		#userframe#
	</main>
	<!--#footer#-->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	
	<script src = "js/jquery.js"></script>
	<script src="js/drag-drop-swap.js" type="text/javascript"></script>
	<script src="assets/js/main.js"></script>
	<script src="js/index.js"></script>
	<script>
		const servers = [#jsa#];
		var origin   = window.location.href;
		origin = origin.replace(/\/[^\/]+$/,"");
		var serverCount =servers.length;
		$(document).ready(function(){
			//sessionStorage.clear();
			div = localStorage.getItem('card-order');
			if( div !== null){$("#drag-box").html(div);}
			
			$('#dashboard').toggleClass("collapsed");
			index();
			setInterval( function() { index(); },5000);
			$.each( servers, function( i, val ) {
				//console.log(val);
				setInterval( function() { online(val); }, 5000 );
			});
		});
	$('.dropdown-menu span.dropdown-toggle').on('click', function(e) {
  if (!$("#submenu").hasClass('show')) {
   		//alert("menu open",true);
		$("#submenu").attr("test","closed");
		$("#submenu").removeClass('show');
		
	//}
	
    //console.log("remove show");
  }
  else{
		//alert("we need to show",true);
		//alert("before"+$("#submenu").attr("test"),true);
		 $("#submenu").attr("test","open");
		$("#submenu").addClass('show');
		//alert("after"+$("#submenu").attr("test"),true);
		//return;
		}
  //alert($("#submenu").attr("test"),true);
  //$("#submenu").attr("test","open");
  
  //$("#submenu").toggleClass('show');


  //$(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    //$('.dropdown-submenu .show').removeClass('show');
    //console.log("remove sub show");
  //});


  return false;
});
	</script>
	</body>
</html>
