<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title><!--#title#--></title>
		<meta content="" name="description">
		<meta content="" name="keywords">
		<!-- Favicons -->
		
		<link href="img/favicon.png" rel="icon">
		<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
		<!--#include#-->
 	</head>

	<body>
		<!--#header#-->
		<!--#sidebar#-->
		<main id="main" class="main">
			
			<section class="section dashboard">
				<div class="loader" id="active-load"></div>
				<div style="text-align:center;">
				<ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fa-solid fa-igloo"></i> <span class="span-show">Home</span></button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="fab fa-steam"></i> <span class="span-show">Online Servers</span></button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="bx bx-world"></i> <span class="span-show">Countries</span></button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="supported-games" data-bs-toggle="tab" data-bs-target="#bordered-games" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="ri-base-station-line"></i> <span class="span-show">Players</span></button>
						</li>
						<li class="nav-item"><a class="nav-link" href="users.php"><i class="fa-solid fa-magnifying-glass"></i> <span class="span-show">Search Players</span></a></li>
						<li class="nav-item"><a class="nav-link" href="stats.php"><i class="fa-solid fa-chart-simple"></i> <span class="span-show">Statistics</span></a></li>
						<!--<li class="nav-item"><a class="nav-link" href="logout.php"><i class="fa fa-fw fa-sign-out-alt text-danger" aria-hidden="true"></i> Log Out</a></li>-->
					</ul>
					</div>				
				<div class="card-body">
					
					<div class="tab-content pt-2" id="borderedTabContent">
						<div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
							<section class="section">
								<div class="row">
									<div class="col-md-4">
										<div class="card info-card revenue-card">
											<div class="card-body">
												<h5 class="card-title" style="margin-top:3%;">Player Stats</h5>
												<table class="table">
													<tr  class="no-border"><td>Online Players</td><td class="map-title" id="player"><//td></tr>
													<tr  class="no-border"><td>Total Players</td><td class="map-title" id="player_tot"></td></tr>
													<tr  class="no-border"><td>Logins Today</td><td class="map-title" id="logins_today"></td></tr>		
													<tr  class="no-border"><td>Total Logins</td><td class="map-title" id="logins_tot"></td></tr>	
												</table>
											</div>
										</div>
										
									</div>
									<div class="col-md-4">
										<div class="card info-card revenue-card">
											<div class="card-body">
												<h5 class="card-title" style="margin-top:3%;">Country Stats</h5>
												<table class="table">
													<tr  class="no-border"><td>Total Countries</td><td class="map-title" id="countries"></td></tr>
													<tr  class="no-border"><td>Top Logins Today</td><td class="map-title" id="country_top_today"></td></tr>
													<tr  class="no-border"><td>Top Logins Overall</td><td class="map-title" id="country_top"></td></tr>
													<tr  class="no-border"><td>Most Played Country</td><td class="map-title" id="pop_country"></td></tr>
												</table>	
											</div>
										</div>	
									</div>	
									<div class="col-md-4">
										<div class="card info-card revenue-card">
											<div class="card-body">
												<h5 class="card-title" style="margin-top:3%;">Server Stats</h5>
												<table class="table">
													<tr  class="no-border"><td>Managed Servers</td><td class="map-title" id="game_tot"></td></tr>
													<tr  class="no-border"><td>Online Servers</td><td class="map-title" id="run_tot"></td></tr>
													<tr  class="no-border"><td>Most Popular</td><td class="map-title" id="most-played"></td></tr>
													<tr  class="no-border"><td>Total In Game Time</td><td class="map-title" id="most-played-time"></td></tr>
												</table>	
											</div>
										</div>
									</div>
									
									<div class="col-md-4" id="parent-server"  >
										<div class="card info-card revenue-card">
										<div class="card-body">
										<h5 class="card-title" style="margin-top:3%;" id="server-desc">API Server</h5>
										<table class="table table-sml no-border">
											
											<!--#server_body#-->
										</table>	
									</div>
								</div>
								</div>
									
								<div class="col-md-4" id="discord-server"  >
										<div class="card info-card revenue-card">
										<div class="card-body">
										<h5 class="card-title" style="margin-top:3%;" id="">Discord Server</h5>
										<div style="width:100%;text-align:center;">
											<a href="https://discord.com/channels/191581638629523456/191581638629523456" target=”_blank”  title="Go To Discord">
												<img id="disco-img" style="width:72%;" src="https://discordapp.com/api/guilds/191581638629523456/widget.png?style=banner3" alt="Discord Banner 2"/>
											</a>	
										</div>
										<!--<iframe src="https://discord.com/widget?id=191581638629523456&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>-->
									</div>
								</div>
								</div>
								<div class="col-md-4" id="active-servers"  >
										<div class="card info-card revenue-card">
										<div class="card-body">
										<h5 class="card-title" style="margin-top:3%;">Active Servers</h5>
										<table class="table table-sml no-border" id="xy">
											<thead>
											<th>Server </th>
											<th style="text-align:center;">Player Count</th>
											</thead>
											<tbody id="dormant" style="border-top:0;"><tr><td colspan=2 style="text-align:center;font-weight:bold;">No Active Servers</td></tr></tbody>
											
											<!--#active_body#-->
										</table>	
									</div>
								</div>
							</div>
								</div>		
							</div>
							<div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
								<div class="row">
									<!--#gd#-->
								</div>
							</div>
									<div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
										<div class="row">
											<!--#country_data#-->  
										</div>
									</div>
									<div class="tab-pane fade" id="bordered-games" role="tabpanel" aria-labelledby="contact-tab">
										<div class="row">
												<!--#fpd#-->  
										
										</div>
									</div>
								</div><!-- End Bordered Tabs -->
							</div>
						</div>
					</div>
          <div class="row">
			 <div class="col-lg-12">
				 <div class="row">
					
						<!--</div>		-->
            <!-- Reports -->
            <div class="col-12" style="display:none;">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

              
                </div>

              </div>
            </div><!-- End Reports -->

          

         
          </div>
        </div>
      </div>
		</div>
	</div>
	
			</section>
		</main>
		<!--#footer#-->
		<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
		<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="assets/vendor/chart.js/chart.min.js"></script>
		<script src="assets/vendor/quill/quill.min.js"></script>
		<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
		<script src = "js/jquery.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="js/index.js"></script>
		<script>
			const servers = [<!--#jsa#-->];
				var url = "";
				var jim = '';
				console.log(servers);
				var serverCount =servers.length;
			jQuery(document).ready(function(){
				sessionStorage.clear();
				//jQuery('body').addClass('toggle-sidebar');
				
				
				$('#dashboard').toggleClass("collapsed");
				//document.getElementsByTagName("html")[0].style.visibility = "visible";
				index();
				setInterval( function() { index(); },5000);
				jQuery.each( servers, function( i, val ) {
					console.log(val);
					setInterval( function() { online(val); }, 5000 );
				});
			});
		</script>
	</body>
</html>
