<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title><!--#title#--></title>
		<meta content="" name="description">
		<meta content="" name="keywords">
		<!-- Favicons -->
		<link href="img/favicon.png" rel="icon">
		<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<!--#include#-->
 	</head>

	<body class="toggle-sidebar">
		<!--#header#-->
		<!--#sidebar#-->
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>Dashboard</h1>
				<nav style="display:none;">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.php">Home</a></li>
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
				</nav>
			</div>
			<section class="section dashboard">
				<div class="card-body">
					<ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist" style="margin-bottom:1%;">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Quick Stats</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Online Servers</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Countries</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="supported-games" data-bs-toggle="tab" data-bs-target="#bordered-games" type="button" role="tab" aria-controls="contact" aria-selected="false">Players</button>
							</li>
					</ul>
					<div class="tab-content pt-2" id="borderedTabContent">
						<div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
							<section class="section">
								<div class="row">
									<div class="col-xxl-4 col-md-6">
										<div class="card info-card revenue-card">
											<div class="card-body">
												<h5 class="card-title" style="margin-top:3%;">Player Stats</h5>
												<table class="table">
													<tr  class="no-border"><td>Online Players</td><td class="map-title" id="player">0<//td></tr>
													<tr  class="no-border"><td>Total Players</td><td class="map-title" id="player_tot"><!--#logins_tot#--></td></tr>	
													<tr  class="no-border"><td>Total Logins</td><td class="map-title" id="logins_tot"><!--#logins_tot#--></td></tr>	
												</table>
											</div>
										</div>		
									</div>
									<div class="col-xxl-4 col-md-6">
										<div class="card info-card revenue-card">
											<div class="card-body">
												<h5 class="card-title" style="margin-top:3%;">Country Stats</h5>
												<table class="table">
													<tr  class="no-border"><td>Total Countries</td><td class="map-title" id=""><!--#country_tot#--></td></tr>
													<tr  class="no-border"><td>Top Country Today</td><td class="map-title" id=""><!--#country_top_today#--></td></tr>
													<tr  class="no-border"><td>Top Country Overall</td><td class="map-title" id=""><!--#country_top#--></td></tr>
												</table>	
											</div>
										</div>	
									</div>	
									<div class="col-xxl-4 col-md-6">
										<div class="card info-card revenue-card">
											<div class="card-body">
												<h5 class="card-title" style="margin-top:3%;">Server Stats</h5>
												<table class="table">
													<tr  class="no-border"><td>Managed Servers</td><td class="map-title" id=""><!--#game_tot#--></td></tr>
													<tr  class="no-border"><td>Online Servers</td><td class="map-title" id="run_tot"><!--#run_tot#--></td></tr>
													<tr  class="no-border"><td>&nbsp;</td><td class="map-title" id="">&nbsp;</td></tr>
												</table>	
											</div>
										</div>
									</div>
									<div class="col-xxl-4 col-md-12" id="active-servers"  style="display:none";>
										<div class="card info-card revenue-card">
										<div class="card-body">
										<h5 class="card-title" style="margin-top:3%;">Active Servers</h5>
										<table class="table table-sml no-border">
											<tr><td>Server</td>
											<td>Player Count</td>
											</tr>
											<tbody id="activeservers"></tbody>
										</table>	
									</div>
								</div>
							</div>
								</div>		
							</div>
							<div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
								<div class="row">
									<!--#gd#-->
								</div>
							</div>
									<div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
										<div class="row">
											<!--#country_data#-->  
										</div>
									</div>
									<div class="tab-pane fade" id="bordered-games" role="tabpanel" aria-labelledby="contact-tab">
										<div class="row">
												<!--#fpd#-->  
										
										</div>
									</div>
								</div><!-- End Bordered Tabs -->
							</div>
						</div>
					</div>
          <div class="row">
			 <div class="col-lg-12">
				 <div class="row">
					
						<!--</div>		-->
            <!-- Reports -->
            <div class="col-12" style="display:none;">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

              
                </div>

              </div>
            </div><!-- End Reports -->

          

         
          </div>
        </div>
      </div>
		</div>
	</div>
	
			</section>
		</main>
		<!--#footer#-->
		<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
		<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="assets/vendor/chart.js/chart.min.js"></script>
		<script src="assets/vendor/quill/quill.min.js"></script>
		<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
		<script src = "js/jquery.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="js/index.js"></script>
		<script>
			jQuery(document).ready(function(){
				sessionStorage.clear();	
				const servers = [<!--#jsa#-->];
				var url = "";
				var jim = '';
				console.log(servers);
				$('#dashboard').toggleClass("collapsed");
				//document.getElementsByTagName("html")[0].style.visibility = "visible";
				index();
				setInterval( function() { index(); },7000);
				jQuery.each( servers, function( i, val ) {
					online(val);
					setInterval( function() { online(val); }, 5000 );
				});
			});
		</script>
	</body>
</html>
