<!--
   stats.html
   
   Copyright 2022 Jim Richardson <jim@noideersoftware.co.uk>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title><!--#page-title#--></title>
		<meta content="" name="description">
		<meta content="" name="keywords">
		<!-- Favicons -->
		<link href="img/favicon.png" rel="icon">
		<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<!--#include#-->
	</head>
	<body>
		<!--#header#-->
		<!--#sidebar#-->
		<main id="main" class="main">
			<div class="pagetitle">
				<h1><!--#page-title#--></h1>
				
			</div><!-- End Page Title -->
		<section class="section">
			<ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist" style="margin-bottom:1%;">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fa-solid fa-igloo"></i> General</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="ri-base-station-line"></i> Player Lists</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="bx bx-world"></i> Country Lists</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="supported-games" data-bs-toggle="tab" data-bs-target="#bordered-games" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="fa-solid fa-link"></i> Linked IP Addresses</button>
						</li>
						<li class="nav-item"><a class="nav-link" href="users.php"><i class="fa-solid fa-magnifying-glass"></i> Search Players</a></li>
						
					</ul>
			<div class="col-lg12">
				<div class="card">
					<div class="card-body">
						<div class="tab-content pt-2" id="borderedTabContent">
							<div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
								<div class="row">
								<div class="col-lg-6" id="stats" >
									<h5 class="card-title" style="margin-left:1%;">General Statistics</h5>
									<table class="table">
										<tr><td>Total Players</td><td colspan=2><!--#player_total#--></td></tr>
										<tr><td title="does not include current online players">Players have spent</td><td colspan=2> <!--#total_time#--> in game</td></tr>
										<tr><td>Top County</td><td><!--#country#--></td><td title="logins / players"><!--#country_stat#--></td></tr>
										<tr><td>Top Time Online</td><td><!--#time_online#--></td><td><!--#time_online_count#--></td></tr>
										<tr><td>Top Logins</td><td><!--#most_log_ons#--></td><td><!--#log_on_count#--></td></tr>
										<tr><td>Most logged into Server</td><td><!--#most_popular#--></td><td><!--#most_popular_count#--></td></tr>
										<tr><td>Most Played Server</td><td><!--#most_played#--></td><td><!--#most_played_time#--></td></tr>
										<tr><td>Comms Bans</td><td colspan=2><!--#comms_live#--> active bans out of <!--#comms_total#--> total</td></tr>
										<tr><td>Game Bans</td><td colspan=2><!--#game_live#--> active bans out of <!--#game_total#--> total</td></tr>
									</table>
								</div>
							</div>
							</div>
							<div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
								<div class="row">
									<div class="col-lg-6" id="searchbox">
										<h5 class="card-title" style="margin-left:1%;">Player Lists</h5>
										<form id="sendcmd"  action="<!--#url#-->/api.php" method="get">
											<input type="hidden" id="action" name="action" value="stats">
											<table class="table">
												<tr><td style="width:16%;border-style:none;">Start Date</td><td style="border-style:none;"><input style="width:28%;" type="date" class="form-control" id="start" name="server"  value="<!--#today#-->"data-date-format="yyyy-mm-dd" ></td></tr>
												<tr style="border-top:0px;border-style:none;">
													<td style="border-top:0px;border-style:none;">End Date</td>
													<td style="border-top:0px;border-style:none;"><input style="width:28%;" type="date" class="form-control" id="finish" name="filter"  value ="<!--#today#-->" data-date-format="yyyy-mm-dd"  ></td>
												</tr>
												<tr style="border-top:0px;border-style:none;">
													<td style="border-top:0px;border-style:none;" colspan=2>
														<span style="margin-left:23%;">
															<input class ="btn btn-primary" type ="submit" id="send" name="send" value ="Go"/>
														</span>
													</td>
												</tr>
											</table>	
										</form>
									</div>
									<div class="col-lg-12" style="display:none;" id="results">
						<!--<div class="card-body">-->
						<h5 class="card-title" style="margin-left:1%;">Results</h5>
							<p>Players for the period from <span id="starter"></span> to <span id="finisher"></span>  Total <span  id="count"></span></p> 
							<div class="table-wrapper" style="max-height:400px;">
								<table class="table table-sml" style="position: relative;">
									<thead>
										<tr style="padding-bottom:6px;">
											<th  style="width:25%;" class="table-header" >User</th>
											<th  class="table-header" >Location</th>
											<th class="table-header">Last Log On</th>
											<th class="table-header">Profile Link</th>
										</tr>
									</thead>	
									<tbody id="data_table"></tbody>
								</table>
					 		</div>
						</div>
					</div> <!-- row ?? -->
				</div> <!-- after row -->	
									<div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
								<div class="row">
									<h5 class="card-title" style="margin-left:1%;">Country Lists</h5>
									country data
								</div>
							</div>
							<div class="tab-pane fade" id="bordered-games" role="tabpanel" aria-labelledby="contact-tab">
								<div class="row">
									<div class="col-lg-12" id="">
										<h5 class="card-title" style="margin-left:1%;">Linked IP Addresses</h5>
										<p><!--#dup_count#--> accounts share IP addresses</p>
										<div class="table-wrapper">
										<table class="table">
											<thead>
												<th>IP Address</th>
												<th>Linked Accounts</th>
												<!--<th>Last Logon</th>-->
											</thead>
											<!--#dups#-->
											
										</table>
										</div>
									</div>	  
								</div>
							</div>
						</div>
						<div class="col-lg-12" style="margin-top:20px;text-align:right;"> 
							<button onclick="history.back();" type="button" class="btn btn-success <!--#button_class#-->">Go Back</button>
						</div>	
					</div>
				</div>
			</div>
			<!-- popup -->
			<div class="modal fade" id="ban_user" tabindex="-1" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<!--<h5 id="user-title" class="card-title">User Information</h5>-->
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
                       <iframe  style="width:100%; height:80vh;" id="ifrm" id="ifrm" src="frame.php" frameborder="0" >Your browser doesn't support iframes.</iframe>
					</div>
                </div>
            </div>
		</section>					
			<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src = "js/jquery.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src = "assets/js/main.js"></script>
   <!--<script src = "js/console.js"></script>-->
 <script>
	var gdetail='';
	$('#sendcmd').on('submit', function(e) {
		e.preventDefault();
		var items='';
		var url = $(this).attr('action');
		$("#data_table").html(items);
		var sndData = $('#sendcmd input').serialize();
		console.log(url)
		console.log(sndData);
		$.ajax({
			type: $(this).attr('method'),
			url: url,
			data: sndData,
			dataType: "json",
			success:  function(data){
				//console.log(data);
				if (data.count ==  0) {return}
					$("#searchbox").css("display","none");
					$("#results").css("display","block");
					console.log(data.start);
					$('#count').html(data.count);
					$('#starter').html(data.start);
					$('#finisher').html(data.finish);
					player = data.results;
					$.each(player, function(i, item) {
						var timestamp =  timeConverter(item.last_log_on);
						gdetail += "<tr><td><a href='"+'users.php?id='+item.steam_id64+"'>"+item.name_c+"</a></td><td style='padding-left:2%;'><img  style='width:40px;' src='"+item.flag+"' title='"+item.country+"'></td><td>"+timestamp+"</td><td>" ;
						gdetail +='<a href=http://steamcommunity.com/profiles/'+item.steam_id64+' target="_blank">'+item.steam_id64+'</a></td></tr>';
						man=item.name_c;
					});
					$("#data_table").html(gdetail);
					//console.log(gdetail)
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				alert('failed '+textStatus);
			}
		});
	});
function timeConverter(UNIX_timestamp){
	var a = new Date(UNIX_timestamp * 1000);
	var months = ['January','Febuary','March','April','May','June','July','August','September','October','November','December'];
	var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
	var year = a.getFullYear();
	var month = months[a.getMonth()];
	var day = weekday[a.getDay()];
	var date = a.getDate();
	var hour = a.getHours();
	var timeOfDay = ( hour < 12 ) ? "am" : "pm"; 
	currentHours = ( hour > 12 ) ? hour - 12 : hour;
	var d = a.getDate();
	var d1 =a.getHours();
	var d = ('0'+d).slice(-2);
	var m = a.getMonth()+1;
	var m = ('0'+m).slice(-2);
	var hour =('0'+hour).slice(-2);
    var y = a.getFullYear();
	var min = ('0'+a.getMinutes()).slice(-2);
	var sec = a.getSeconds();
	var time = d+ '-' + m + '-' + y + ' ' + hour + ':' + min ;
	return time;
}
$( "#go_back" ).click (function() {
	var rowCount = $('#data_table tr').length;
	console.log(rowCount);
	$('#results').hide();
	$('#searchbox').show();
	$("#data_table").empty();
	$("#gen").empty();
	gendetail="";
	gdetail="";
});	
$('th').click(function(){
	var table = $(this).parents('table').eq(0)
	var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
	this.asc = !this.asc
	if (!this.asc){rows = rows.reverse()}
		for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})

function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}

function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
function loadIframe(iframeName, url) {
    var $iframe = $('#' + iframeName);
    if ($iframe.length) {
        $iframe.attr('src',url);
        return false;
    }
    return true;
}
$('.user-id').on("click",function(){
  var usersid =  $(this).attr("id");
   loadIframe("ifrm", "frame.php?id="+usersid);
   $('#ban_user').modal('show');	
})
 </script>